



// ==============================
// partial imports / style imports
// ==============================

@use '../../../styles/_mixins.scss' as *;
@use '../../../styles/_responsive_breakpoints.scss' as *;




// ==============================
// logo canyon sky stem cells stars container
// ==============================

.logoCanyonSkyStemCellsContainer {

    // children
    display               : grid;
    grid-template-rows    : auto;
    grid-template-columns : 1fr;
    align-items           : center;
    justify-items         : center;

    // ==============================
    // container > div 1 ( wrapper div )
    // ==============================

    > div:nth-child( 1 ) {
        
        // remember, the default image size from Canva is 512px by 512px so setting the width
        // and height allowed us the change the size of the stars to match the Enchanting Apps
        // text content
        width  : 15.0rem;
        height : 15.0rem;

        > picture {

            > img {

                display : block;

                // this blends my Mid Journey pictures into the background color perfectly
                // and makes white pixels completely transparent and keeps black pixels
                // visible — works perfectly with black and white illustrations on
                // colored backgrounds without needing to remove the background at all
                mix-blend-mode : multiply;

                border-radius : 6px;

            } // end of container > div1 > div1 > picture > img

        } // end of container > div1 > div1 > picture

    } // end of container > div1 > div1

} // end of container

