


// ==============================
// partial imports / style imports
// ==============================

@use '../../../styles/_mixins.scss' as *;
@use '../../../styles/_responsive_breakpoints.scss' as *;





// ==============================
// real estate broker website container
// ==============================

.realEstateBrokerWebsiteContainer {

    // ==============================
    // div 9 in the index.js file
    // ==============================

    // parent
    grid-area   : div9;
    grid-column : 1 / -1; // position against the parent

    // children
    display               : grid;

    // ==============================
    // note 
    // ==============================

    // ==============================
    // remember, there are 2 things we want to accomplish :
    // 1 - allow the wrapper div to position against the parent div and thereby
    // shrink as needed
    // 2 - we want to center the wrapper div ( see below for details )
    // ==============================

    // ==============================
    // " grid-template-columns " is needed so that the wrapper div ( i.e. child ) can position
    // against the parent ( i.e. this div ) by using " grid-column : 2 / 22; " and this allows
    // the background declared below to span across the entire container or the entire site and
    // this also allows the wrapper div to dynamically contain its children within the
    // " grid-column : 2 / 22; " context so that as the screen size shrinks the wrapper div
    // container and all its children containers or divs will automatically shrink as well
    // ==============================

    grid-template-columns : minmax( 8rem, 1fr )                          // col 1 - 2   ( column 1 )
                            repeat( 20, minmax( min-content, 12.0rem ) ) // col 2 - 22  ( column 2 - 22 )
                            minmax( 8rem, 1fr );                         // col 22 - 23 ( column 23 )

    // ==============================
    // remember, I can center the wrapper div by using either " justify-items : center; "
    // in the parent div ( see below ) or by using " margin : 0 auto; " in the
    // wrapper div
    // ==============================

    justify-items         : center;

    // ==============================
    // remember, I had to add " position : relative; " for the absolutely positioned
    // svg shape div below to work
    // ==============================

    position : relative;
    padding  : 12.0rem 0 12.0rem 0;

    background : var( --gray-335 );
    // background : var( --yellow-20 );
    // background : var( --gray-290 );

    // ==============================
    // tighten up side margins
    // ==============================

    @media all and ( max-width : $bp-1280 ) {

        grid-template-columns : minmax( 6rem, 1fr )                          // col 1 - 2   ( column 1 )
                                repeat( 20, minmax( min-content, 12.0rem ) ) // col 2 - 22  ( column 2 - 22 )
                                minmax( 6rem, 1fr );                         // col 22 - 23 ( column 23 )

    } // end of container > div8 > bp-1280

    // ==============================
    // end of tighten up side margins
    // ==============================

    // ==============================
    // wave shape div
    // ==============================

    // remember, this information came from the following video :
    // " https://www.youtube.com/watch?v=lPJVi797Uy0&t=396s " and timestamp : 6.21

    // and in accordance with the above video, I used the following tool to create the wave
    // shape and the tool is called Custom Shape Dividers and located at :
    // " https://www.shapedivider.app/ "

    // the css code below and the html code in this file came from the following
    // website : " https://www.shapedivider.app/ " and to get this generated code
    // we used the following set up :

    /*
        Shape      : Waves
        Color      : #FFFFFF ( initial color until I changed it below )
        Flip       : No
        Invert     : No
        Top/bottom : Top
        Height     : 150px
        Width      : 100%
    */

    // remember, I had to add " position : relative " to the parent container and I had
    // to change the path fill color to match the body background color

    // ==============================
    // container > div 1
    // ==============================

    > div:nth-child( 1 ) {

        position : absolute;
        top      : 0; // this will put the shape at the top of the container
        left     : 0;
        width    : 100%;

        line-height : 0;

        overflow : hidden;

        > svg {

            display  : block;
            position : relative;
            width    : calc( 100% + 1.3px );
            height   : 15.0rem; // changed this from the default 150px to 15.0rem

            @media all and ( max-width : $bp-1032 ) {

                height : 9.0rem; // make sure we flatten the wave as the screen size
                // shrinks

            } // end of container > div1 > svg > bp-1032

            @media all and ( max-width : $bp-768 ) {

                height : 8.0rem; // make sure we flatten the wave as the screen size
                // shrinks

            } // end of container > div1 > svg > bp-768

            @media all and ( max-width : $bp-620 ) {

                height : 7.0rem; // make sure we flatten the wave as the screen size
                // shrinks

            } // end of container > div1 > svg > bp-620

            @media all and ( max-width : $bp-480 ) {

                height : 5.5rem; // make sure we flatten the wave as the screen size
                // shrinks

            } // end of container > div1 > svg > bp-480

            @media all and ( max-width : $bp-375 ) {

                height : 4.5rem; // make sure we flatten the wave as the screen size
                // shrinks
        
            } // end of container > div1 > svg > bp-375

            > path {

                fill : rgba( 0, 198, 251, 1 ); // this is same color as the background
                // color for the proceeding div

            } // end of container > div1 > svg > path

        } // end of container > div1 > svg

    } // end of container > div1

    // ==============================
    // end of wave shape div
    // ==============================

    // ==============================
    // container > div 2 ( wrapper div )
    // ==============================

    > div:nth-child( 2 ) {

        // parent
        grid-column : 2 / 22; // position against the parent and see notes in parent above

        // children
        display               : grid;
        grid-template-rows    : repeat( 4, auto );
        grid-template-columns : 1fr;
        grid-template-areas   : "h3"
                                "border"
                                "div1"
                                "div2";

        width : min( 80.0rem, 100% ); // browser will select the smaller of 80.0rem or 100%

        // ==============================
        // container > div 2 > h3
        // ==============================

        > h3 {

            @include h3-dark-title;

            margin : 0 0 3.0rem 0;

        } // end of container > div2 > h3

        // ==============================
        // container > div 2 > div 1
        // ==============================

        > div:nth-child( 2 ) {

            > h5 {

                @include h5-dark-title;

                margin : 0 0 2.0rem 0;

            } // end of container > div2 > div1 > h5

            // ==============================
            // container > div 2 > div 1 > ul ( the list )
            // ==============================

            > ul {

                padding : 0 0 0 1.6rem;

                list-style-type : disc; // override the global stylesheet in this case
                // list-style-position: outside; // make sure the disc markers are located
                // the content box

                > li {

                    @include text-base-dark;

                    margin : 0 0 2.0rem 0;

                    > a {

                        @include text-base-dark;

                        margin : 0 0 0 0;

                        text-decoration : underline;

                    } // end of container > div2 > div1 > ul > li > a

                } // end of container > div2 > div1 > ul > li

                > li:last-child {

                    margin : 0 0 0 0;

                } // end of container > div2 > div1 > ul > li:last-child

                // ==============================
                // container > div 2 > div 1 > ul > span ( show tech details )
                // ==============================

                > span {

                    display : block;
                    padding : 2.0rem 2.0rem 2.0rem 2.0rem;

                    border        : 0.75px solid var( --gray-700 );
                    border-radius : 6px;

                    @include text-base-dark;

                    margin : 0 0 2.0rem 0;

                    cursor : pointer;

                } // end of container > div2 > div1 > ul > span

                // ==============================
                // container > div 2 > div 1 > ul > a > img 1
                // ==============================

                > a > img.realEstateBrokerWebsiteContainerImage1 {

                    padding : 0 0 1.0rem 0;

                } // end of container > div2 > div1 > ul > a > image 1

            } // end of container > div2 > div1 > ul

        } // end of container > div2 > div1

    } // end of container > div2

} // end of container

