


// ==============================
// partial imports / style imports
// ==============================

@use '../../../styles/_mixins.scss' as *;
@use '../../../styles/_responsive_breakpoints.scss' as *;




// ==============================
// spinner container
// ==============================

.spinnerContainer {

    // parent
    grid-column : 2 / 22; // position against the parent and see notes in parent above

    // children
    display       : grid;
    align-content : start; // use margin top to vertically align the message

    width  : min( 50.0rem, 100% );
    height : 680.0px; // match the height of the contact form container
    margin : 0 auto;

    @media all and ( max-width : $bp-920 ) {

        height : calc( ( 120 * 0.9 ) + 509.58 ) + px; // match the height of the contact form container

    } // end of spinner container > bp-920

    @media all and ( max-width : $bp-768 ) {

        height : calc( ( 120 * 0.9 ) + 503.18 ) + px; // match the height of the contact form container

    } // end of spinner container > bp-768

    @media all and ( max-width : $bp-620 ) {

        height : calc( ( 120 * 0.9 ) + 493.58 ) + px; // match the height of the contact form container

    } // end of spinner container > bp-480

} // end of spinner container



// ==============================
// error message container
// ==============================

.errorMessageContainer {

    // parent
    grid-column : 2 / 22; // position against the parent and see notes in parent above

    // children
    display       : grid;
    align-content : start; // use margin top to vertically align the message

    width  : min( 50.0rem, 100% );
    height : 680.0px; // match the height of the contact form container
    margin : 0 auto;

    @media all and ( max-width : $bp-920 ) {

        height : calc( ( 120 * 0.9 ) + 509.58 ) + px; // match the height of the contact form container

    } // end of error message container > bp-920

    @media all and ( max-width : $bp-768 ) {

        height : calc( ( 120 * 0.9 ) + 503.18 ) + px; // match the height of the contact form container

    } // end of error message container > bp-768

    @media all and ( max-width : $bp-620 ) {

        height : calc( ( 120 * 0.9 ) + 493.58 ) + px; // match the height of the contact form container

    } // end of error message container > bp-480

} // end of error message container



// ==============================
// success message container
// ==============================

.successMessageContainer {

    // parent
    grid-column : 2 / 22; // position against the parent and see notes in parent above

    // children
    display       : grid;
    align-content : start; // use margin top to vertically align the message

    width  : min( 50.0rem, 100% );
    height : 680.0px; // match the height of the contact form container
    margin : 0 auto;

    @media all and ( max-width : $bp-920 ) {

        height : calc( ( 120 * 0.9 ) + 509.58 ) + px; // match the height of the contact form container

    } // end of success message container > bp-920

    @media all and ( max-width : $bp-768 ) {

        height : calc( ( 120 * 0.9 ) + 503.18 ) + px; // match the height of the contact form container

    } // end of success message container > bp-768

    @media all and ( max-width : $bp-620 ) {

        height : calc( ( 120 * 0.9 ) + 493.58 ) + px; // match the height of the contact form container

    } // end of success message container > bp-480

} // end of success message container



// ==============================
// contact form container ( wrapper div )
// ==============================

.contactFormContainer {

    // parent
    grid-area   : div1;
    grid-column : 2 / 22; // position against the parent and see notes in parent above

    // children
    display               : grid;
    grid-template-rows    : repeat( 2, auto );
    grid-template-columns : 1fr;
    grid-template-areas   : "h1"
                            "form";

    margin : 0 auto 12.0rem auto; // provide some spacing between this div and the contact
    // inspriation div

    // ==============================
    // remember, 
    // 1 - with " grid-column : 2 / 22; " and " width : min( 38.0rem, 100% ); ",
    // the children content will stay within the bounds of 2 / 22 and shrink
    // automatically as needed
    // 2 - and the children content will be the smaller of 38.0rem or 100%
    // ==============================

    width : min( 38.0rem, 100% ); // browser will select the smaller of 38.0rem or 100%

    // ==============================
    // container > h1
    // ==============================

    > h1 {

        // parent
        grid-area : h1;

        @include h1-dark-title;

        margin : 0 0 0 0; // remember, the margin between the h1 and the name input
        // container is contained in the name input container

        text-align : center;

    } // end of container > h1

    // ==============================
    // container > form
    // ==============================

    > form {

        // parent
        grid-area : form;

        // ==============================
        // container > form > name input container
        // ==============================

        .contactFormContainerFormNameInputContainer {

            position : relative; // needed for the label
            margin   : 5.0rem 0 0 0; // visual preference and remember, the email top was
            // 5.0rem, the textarea margin top was 6.0rem and the button margin top was 6.0rem

            // ==============================
            // container > form > name input container > input element
            // ==============================

            > input {

                display : block;
                width   : 100%;
                margin  : 0;
                padding : 10px 10px 10px 0;

                border        : none;
                border-radius : 0;
                border-bottom : 1px solid var( --gray-475 );

                @include text-base-dark;

                background : var( --gray-220 ); // the default browser background value here is white
                // so change the background color to match the body background

                &:focus {

                    outline : none;

                } // end of container > form > name input container > input > &:focus

                // The general sibling combinator (~) separates two selectors and matches the
                // second element only if it follows the first element (though not necessarily
                // immediately), and both are children of the same parent

                // what this says below is that whenever the user focuses inside the input element
                // we want to use the general sibling combinator to target the form input label
                // element and give the label an opacity of 0 and use a transition is give the
                // movement a nice feel
                &:focus ~ .contactFormContainerFormNameInputContainerLabel {

                    @include shrinkLabel-dark();

                }  // end of container > form > name input container > input > &:focus ~ label

            } // end of container > form > name input container > input

            // ==============================
            // container > form > name input container > label element
            // ==============================

            .contactFormContainerFormNameInputContainerLabel {

                position : absolute;
                top      : 10px;
                left     : 0px;

                @include text-base-dark;

                pointer-events : none;
                transition     : all 300ms ease; // transition : all will target the top,
                // font-size and color properties

            } // end of container > form > name input container > label

            // ==============================
            // container > form > name input container > label shrink
            // ==============================

            .contactFormContainerFormNameInputContainerLabelShrink {

                position : absolute;
                top      : -20px;
                left     : 0px;

                @include text-extra-small-dark;

                font-size   : 1.45rem;
            
            } // end of container > form > name input container > label shrink

        } // end of container > form > name input container

        // ==============================
        // container > form > email input container
        // ==============================

        .contactFormContainerFormEmailInputContainer {

            position : relative; // needed for the label
            margin   : 5.0rem 0 0 0; // visual preference and remember, the name margin top was
            // 5.0rem, the textarea margin top was 6.0rem and the button margin top was 6.0rem

            // ==============================
            // container > form > email input container > input element
            // ==============================

            > input {

                display : block;
                width   : 100%;
                margin  : 0;
                padding : 10px 10px 10px 0;

                border        : none;
                border-radius : 0;
                border-bottom : 1px solid var( --gray-475 );

                @include text-base-dark;

                background : var( --gray-220 ); // the default browser background value here is white
                // so change the background color to match the body background

                &:focus {

                    outline : none;

                } // end of container > form > email input container > input > &:focus

                // The general sibling combinator (~) separates two selectors and matches the
                // second element only if it follows the first element (though not necessarily
                // immediately), and both are children of the same parent

                // what this says below is that whenever the user focuses inside the input element
                // we want to use the general sibling combinator to target the form input label
                // element and give the label an opacity of 0 and use a transition is give the
                // movement a nice feel
                &:focus ~ .contactFormContainerFormEmailInputContainerLabel {

                    @include shrinkLabel-dark();

                } // end of container > form > email input container > input > &:focus ~ label

            } // end of container > form > email input container > input

            // ==============================
            // container > form > email input container > label element
            // ==============================

            .contactFormContainerFormEmailInputContainerLabel {

                position : absolute;
                top      : 10px;
                left     : 0px;

                @include text-base-dark;

                pointer-events : none;
                transition     : all 300ms ease; // transition : all will target the top,
                // font-size and color properties

            } // end of container > form > email input container > label

            // ==============================
            // container > form > email input container > label shrink
            // ==============================

            .contactFormContainerFormEmailInputContainerLabelShrink {

                position : absolute;
                top      : -20px;
                left     : 0px;

                @include text-extra-small-dark;

                font-size   : 1.45rem;
            
            } // end of container > form > email input container > label shrink

        } // end of container > form > email input container

        // ==============================
        // container > form > text area box container
        // ==============================

        .contactFormContainerFormTextAreaContainer {

            position : relative; // needed for the textbox label
            margin   : 6.0rem 0 0 0; // visual preference and remember, the name margin top was
            // 5.0rem, the email margin top was 5.0rem and the button margin top was 6.0rem

            // ==============================
            // container > form > text area box container > text area box
            // ==============================

            > textarea {

                display : block;
                width   : 100%;
                padding : 1.2rem 1.2rem 1.2rem 1.2rem;

                border        : 1px solid var( --gray-475 );
                border-radius : 4px;

                @include text-base-dark;

                // had specify the following key value pair in order to match the
                // parent container background color
                background-color: rgba( 253, 253, 253, 1 );

                background : var( --gray-220 ); // the default browser background value here is white
                // so change the background color to match the body background

                &:focus {

                    outline : none;

                } // end of container > form > text area container > textarea > &:focus

                // The general sibling combinator (~) separates two selectors and matches the
                // second element only if it follows the first element (though not necessarily
                // immediately), and both are children of the same parent

                // what this says below is that whenever the user focuses inside the input element
                // we want to use the general sibling combinator to target the form input label
                // element and give the label an opacity of 0 and use a transition is give the
                // movement a nice feel
                &:focus ~ .contactFormContainerFormTextAreaContainerLabel {

                    opacity : 0; // erase the text when the cursor is in the textarea box

                }  // end of container > form > text area container > textarea > &:focus ~ label

            } // end of container > form > text area container > textarea

            // ==============================
            // container > form > text area box container > label element
            // ==============================

            .contactFormContainerFormTextAreaContainerLabel {

                position : absolute;
                top      : 1.2rem;
                left     : 1.2rem;

                @include text-base-dark;

                pointer-events : none;
                transition     : opacity 200ms ease;

                // provide some space on the right side of the text box so that
                // the text is not right up against the container and this only
                // happens on small screens
                @media all and ( max-width : $bp-375 ) {

                    right : 1.8rem; // visual preference

                } // end of container > form > text area container > label > bp-375

            } // end of container > form > text area container > label

            // ==============================
            // container > form > text area box container > label shrink
            // ==============================

            .contactFormContainerFormTextAreaContainerLabelShrink {

                display : none;
            
            } // end of container > form > text area container > label shrink

        } // end of container > form > text area container

        // ==============================
        // container > form > button container
        // ==============================

        .contactFormContainerFormButtonContainer {

            // children
            display : grid; // display grid makes the button span the entire width of the
            // parent container
            margin : 4.0rem 0 0 0; // visual preference

            > button {

                @include button-v5();

                background : var( --blue-83 ); // visual preference

                &:hover {

                    background : rgba( 0, 125, 240, 1 );

                } // end of container > form > button container > button > &:hover

            } // end of container > form > button container > button

        } // end of container > form > button container

    } // end of container > form

} // end of container

