

// ==============================
// partial imports / style imports
// ==============================

@use '../../../styles/_mixins.scss' as *;
@use '../../../styles/_responsive_breakpoints.scss' as *;





// ==============================
// contact informaion container
// ==============================

.contactInformationContainer {

    width : min( 80.4rem, 100% );

    // ==============================
    // container > h3
    // ==============================

    > h3 {

        @include h3-dark-title;

        margin : 0 0 2.0rem 0;

    } // end of container > h2

    // ==============================
    // container > p
    // ==============================

    > p {

        @include text-base-dark;

        margin : 0 0 4.0rem 0;

    } // end of container > p

    // ==============================
    // container > div3 ( wrapper div )
    // ==============================

    // ==============================
    // content div
    // ==============================

    > div:nth-child( 3 ) {

        // children
        display               : grid;
        grid-template-rows    : repeat( 3, auto );
        grid-template-columns : 1fr;
        grid-template-areas   : "div1"
                                "div2"
                                "div3";

        // ==============================
        // container > div3 > div1 ( call anytime )
        // ==============================

        > div:nth-child( 1 ) {

            // children
            display               : grid;
            grid-template-rows    : auto auto;
            grid-template-columns : auto 1fr;
            align-items           : center;
            grid-gap              : 0 4.0rem;
            grid-template-areas   : "div h5"
                                    "div  a";

            padding : 0 0 6.0rem 0;

            //border-bottom: 0.1rem solid var( --gray-350 );

            @media all and ( max-width : $bp-620 ) {

                grid-template-columns : 1fr;
                grid-gap              : 0 0;
                grid-template-areas   : "div"
                                        " h5"
                                        "  a";

            } // end of container > div3 > div1 > bp-620

            > div {

                // parent
                grid-area : div;

                // color : var( --blue-77 );
                color : var( --gray-700 );

                transform : rotate( 0deg );

                @media all and ( max-width : $bp-620 ) {

                    transform : rotate( 0deg );
    
                } // end of container > div3 > div1 > bp-620

            } // end of container > div3 > div1 > div

            > h5 {

                // parent
                grid-area : h5;

                @include h5-dark-title;

                align-self : end;

                margin : 0 0 0.5rem 0;

                font-size : 2.20rem;

                @media all and ( max-width : $bp-620 ) {

                    margin : 2.0rem 0 1.0rem 0;
    
                } // end of container > div3 > div1 > bp-620

            } // end of container > div3 > div1 > h5

            > a {

                // parent
                grid-area : a;

                @include text-large-dark;

                align-self : start;

                font-size   : 2.0rem;
                font-weight : 500;
                color       : var( --blue-77 );

            } // end of container > div3 > div1 > a

        } // end of container > div3 > div1

        // ==============================
        // containerr > div3 > div2 ( visit us )
        // ==============================

        > div:nth-child( 2 ) {

            // children
            display               : grid;
            grid-template-rows    : auto auto;
            grid-template-columns : auto 1fr;
            align-items           : center;
            grid-gap              : 0 4.0rem;
            grid-template-areas   : "div       h5"
                                    "div  address";

            padding : 0 0 6.0rem 0;

            //border-bottom: 0.1rem solid var( --gray-350 );

            @media all and ( max-width : $bp-620 ) {

                grid-template-columns : 1fr;
                grid-gap              : 0 0;
                grid-template-areas   : "    div"
                                        "     h5"
                                        "address";

            } // end of container > div3 > div2 > bp-620

            > div {

                // parent
                grid-area : div;

                // color : var( --blue-77 );
                color : var( --gray-700 );
                
            } // end of container > div3 > div2 > div

            > h5 {

                // parent
                grid-area : h5;

                @include h5-dark-title;

                align-self : end;

                margin : 0 0 0.5rem 0;

                font-size : 2.20rem;

                @media all and ( max-width : $bp-620 ) {

                    margin : 2.0rem 0 1.0rem 0;
     
                 } // end of container > div3 > div2 > bp-620

            } // end of container > div3 > div2 > h5

            > address {

                // parent
                grid-area : address;

                @include text-base-dark;

                align-self : start;

                font-style : normal; // take out the italic default style

                > span {

                    display : block;

                } // end of container > div3 > div2 > address > span

            } // end of container > div3 > div2 > address

        } // end of container > div3 > div2

        // ==============================
        // container > div 3 > div 3 ( business hours )
        // ==============================

        > div:nth-child( 3 ) {

            // children
            display               : grid;
            grid-template-rows    : auto auto;
            grid-template-columns : auto 1fr;
            align-items           : center;
            grid-gap              : 0 4.0rem;
            grid-template-areas   : "div h5"
                                    "div  a";

            padding : 0 0 0 0;

            //border-bottom: 0.1rem solid var( --gray-350 );

            @media all and ( max-width : $bp-620 ) {

                grid-template-columns : 1fr;
                grid-gap              : 0 0;
                grid-template-areas   : "div"
                                        " h5"
                                        "  a";

            } // end of container > div3 > div3 > bp-620

            > div {

                // parent
                grid-area : div;

                // color : var( --blue-77 );
                color : var( --gray-700 );

            } // end of container > div3 > div3 > div

            > h5 {

                // parent
                grid-area : h5;

                @include h5-dark-title;

                align-self : end;

                margin : 0 0 0.5rem 0;

                font-size : 2.20rem;

                @media all and ( max-width : $bp-620 ) {

                    margin : 2.0rem 0 1.0rem 0;
     
                 } // end of container > div3 > div3 > bp-620

            } // end of container > div3 > div3 > h5

            > ul {

                align-self : start;

                > div {

                    display         : flex;
                    justify-content : space-between;

                    @media all and ( max-width : $bp-1728 ) {

                        // display : grid;
        
                    } // end of container div3 > div3 > picture > bp-1728

                    @media all and ( max-width : $bp-1280 ) {

                        display : flex;
        
                    } // end of container div3 > div3 > picture > bp-1280

                    @media all and ( max-width : $bp-768 ) {

                        display : grid;
        
                    } // end of container div3 > div3 > picture > bp-768

                    > li {
            
                        @include text-base-dark;
            
                        font-size : 1.75rem;
            
                    } // end of container > div3 > div3 > ul > div > li
            
                    > li:nth-child( 2 ) {
            
                        margin : 0 0 1.0rem 0;
            
                    } // end of container > div3 > div3 > ul > div > li2

                } // end of container > div3 > div3 > ul > div

                > div:nth-child( 1 ) {

                    margin : 0 0 1.0rem 0;

                    border-bottom : 0.1rem solid var( --gray-340 );

                    @media all and ( max-width : $bp-1728 ) {

                        // make sure the border only stretches as far as the content
                        // width : fit-content;
        
                    } // end of container div3 > div3 > ul > div1 > bp-1728

                    @media all and ( max-width : $bp-1280 ) {

                        width : 100%;
        
                    } // end of container div3 > div3 > ul > div1 > bp-1280

                    @media all and ( max-width : $bp-768 ) {

                        // make sure the border only stretches as far as the content
                        width : fit-content;
        
                    } // end of container div3 > div3 > ul > div1 > bp-768

                } // end of container > div3 > div3 > ul > div1
            
            } // end of container > div3 > div3 > ul

            > picture {

                // parent
                grid-area : picture;

                max-width : 10.0rem;
                margin    : 0 0 0 -1.5rem;
    
                > img {

                    display : block; // remove the bottom spacing

                    // ==============================
                    // Make the image stretch horizontally to fit the column height
                    // ==============================

                    width  : 100%;
                    height : 100%;
                    margin : 0 auto;

                    // now let add the object-fit property and remember for object-fit to work we have to add
                    // the width and the height to the element

                    // by using these 3 key value pairs inside the image element or " width : 100%; "
                    // and " height : 100%; " and " object-fit : cover; " we see that each image now fills up
                    // one grid cell and one grid cell only

                    object-fit : cover;

                    // this blends my Mid Journey pictures into the background color perfectly
                    // and makes white pixels completely transparent and keeps black pixels
                    // visible — works perfectly with black and white illustrations on
                    // colored backgrounds without needing to remove the background at all
                    mix-blend-mode : multiply;

                } // end of container > div3 > div3 > picture > img

            } // end of container > div3 > div3 > picture

        } // end of container > div3 > div3

    }// end of container > div3

} // end of container


