


// ==============================
// partial imports / style imports
// ==============================

@use '../../../../../styles/_mixins.scss' as *;
@use '../../../../../styles/_responsive_breakpoints.scss' as *;





// ==============================
// torus container
// ==============================

.torusContainer {

    // parent
    grid-area   : div15;
    grid-column : 1 / -1; // needed in order to fill the parent container\

    // children
    display : grid;

    // ==============================
    // note 
    // ==============================

    // ==============================
    // remember, there are 2 things we want to accomplish :
    // 1 - allow the wrapper div to position against the parent div and thereby
    // shrink as needed
    // 2 - we want to center the wrapper div ( see below for details )
    // ==============================

    // ==============================
    // " grid-template-columns " is needed so that the wrapper div ( i.e. child ) can position
    // against the parent ( i.e. this div ) by using " grid-column : 2 / 22; " and this allows
    // the background declared below to span across the entire container or the entire site and
    // this also allows the wrapper div to dynamically contain its children within the
    // " grid-column : 2 / 22; " context so that as the screen size shrinks the wrapper div
    // container and all its children containers or divs will automatically shrink as well
    // ==============================

    grid-template-columns : minmax( 8rem, 1fr )                          // col 1 - 2   ( column 1 )
                            repeat( 20, minmax( min-content, 12.0rem ) ) // col 2 - 22  ( column 2 - 22 )
                            minmax( 8rem, 1fr );                         // col 22 - 23 ( column 23 )

    // ==============================
    // remember, I can center the wrapper div by using either " justify-items : center; "
    // in the parent div ( see below ) or by using " margin : 0 auto; " in the
    // wrapper div
    // ==============================

    // justify-items : center;

    // remember, " grid-column : 1 / -1; " allows the background image to span the entire screen
    background-image : url( /images/lama_bg_01.jpeg );

    // ==============================
    // tighten up side margins
    // ==============================

    @media all and ( max-width : $bp-1280 ) {

        grid-template-columns : minmax( 6rem, 1fr )                          // col 1 - 2   ( column 1 )
                                repeat( 20, minmax( min-content, 12.0rem ) ) // col 2 - 22  ( column 2 - 22 )
                                minmax( 6rem, 1fr );                         // col 22 - 23 ( column 23 )

    } // end of container > bp-1280

    // ==============================
    // end of tighten up side margins
    // ==============================

    // ==============================
    // container > div 1 ( wrapper div )
    // ==============================

    // ==============================
    // remember, we will use the wrapper div to make the canvas responsive
    // and the wrapper div is the parent to the canvas div
    // ==============================

    > div:nth-child( 1 ) {

        // parent
        grid-column : 2 / 22; // position against the parent

        height : 80.0rem;

        // ==============================
        // remember, 
        // 1 - with " grid-column : 2 / 22; " and " width : min( 80.0rem, 100% ); ",
        // the children content will stay within the bounds of 2 / 22 and shrink
        // as needed
        // 2 - and the children content will be the smaller of 80.0rem or 100%
        // ==============================

        // width  : min( 80.0rem, 100% ); // browser will select the smaller of 80.0rem or 100%

        @media all and ( max-width : $bp-1920 ) {

            height : 60.0rem; // visual preference

        } // end of container > div1 > div2 > bp-1920

        @media all and ( max-width : $bp-1280 ) {

            height : 50.0rem; // visual preference

        } // end of container > div1 > div2 > bp-1280

        @media all and ( max-width : $bp-480 ) {

            height : 30.0rem; // visual preference

        } // end of container > div1 > div2 > bp-480

    } // end of container > div1

} // end of container


