


// ==============================
// PARTIAL IMPORTS
// ==============================

@use '../../../styles/_responsive_breakpoints.scss' as *;



// ==============================
// SPINNER CONTAINER
// ==============================

.spinnerContainer {

    // children
    display         : grid; // layer depends on where the spinner is being used
    align-content   : center;
    justify-content : center;

    > .spinnerContainerMain {

        // children
        display         : flex; // flex makes it easy to display the content on the
        // horizontal axis
        align-items     : flex-end;
        justify-content : space-around;

        width  : 85px;
        height : 85px;

        > .spinnerContainerMainDiv1 {

            width  : 20px;
            height : 20px;

            border-radius : 50%; // make border circular

            background-color : var( --white );

            // create the animation effect
            // duration is 0.5 seconds and the speed curve of the animation is
            // cubic-bezier( .19, .57, .3, .98 ) and this provides for a nice bounce effect
            // and we want the spinner to continuing repeating infinitely and we want to run
            // the animation in alternate cycles by using the keyword alternate and with
            // alternate the animation is played forwards first and then backwards

            // more importantly, alternate creates a bounce in the animation

            // lastly, let's delay the animation for the last 3 balls
            animation : bounce 0.5s cubic-bezier( .19, .57, .3, .98 ) 0.0s infinite alternate;

        } // end of container > main > div1

        > .spinnerContainerMainDiv2 {

            width  : 20px;
            height : 20px;

            border-radius : 50%; // make border circular

            background-color : var( --white );

            // create the animation effect
            // duration is 0.5 seconds and the speed curve of the animation is
            // cubic-bezier( .19, .57, .3, .98 ) and this provides for a nice bounce effect
            // and we want the spinner to continuing repeating infinitely and we want to run
            // the animation in alternate cycles by using the keyword alternate and with
            // alternate the animation is played forwards first and then backwards

            // more importantly, alternate creates a bounce in the animation

            // lastly, let's delay the animation for the last 3 balls
            animation : bounce 0.5s cubic-bezier( .19, .57, .3, .98 ) 0.1s infinite alternate;

        } // end of container > main > div2

        > .spinnerContainerMainDiv3 {

            width  : 20px;
            height : 20px;

            border-radius : 50%; // make border circular

            background-color : var( --white );

            // create the animation effect
            // duration is 0.5 seconds and the speed curve of the animation is
            // cubic-bezier( .19, .57, .3, .98 ) and this provides for a nice bounce effect
            // and we want the spinner to continuing repeating infinitely and we want to run
            // the animation in alternate cycles by using the keyword alternate and with
            // alternate the animation is played forwards first and then backwards

            // more importantly, alternate creates a bounce in the animation

            // lastly, let's delay the animation for the last 3 balls
            animation : bounce 0.5s cubic-bezier( .19, .57, .3, .98 ) 0.2s infinite alternate;

        } // end of container > main > div3

        > .spinnerContainerMainDiv4 {

            width  : 20px;
            height : 20px;

            border-radius : 50%; // make border circular

            background-color : var( --white );

            // create the animation effect
            // duration is 0.5 seconds and the speed curve of the animation is
            // cubic-bezier( .19, .57, .3, .98 ) and this provides for a nice bounce effect
            // and we want the spinner to continuing repeating infinitely and we want to run
            // the animation in alternate cycles by using the keyword alternate and with
            // alternate the animation is played forwards first and then backwards

            // more importantly, alternate creates a bounce in the animation

            // lastly, let's delay the animation for the last 3 balls
            animation : bounce 0.5s cubic-bezier( .19, .57, .3, .98 ) 0.3s infinite alternate;

        } // end of container > main > div4

    } // end of container > main

} // end of container



// ==============================
// build the animation
// ==============================

// create an animation for the top portion of the border
@keyframes bounce {

    from {

        transform : translateY( 0 );

    }

    to {

        transform : translateY( -75px ); // -75px will move the ball upwards along the
        // y axis

    }

} // end of bounce



