


// ==============================
// partial imports / style imports
// ==============================

@use '../../../styles/_mixins.scss' as *;
@use '../../../styles/_responsive_breakpoints.scss' as *;






// ==============================
// keyframes
// ==============================

// ==============================
// elastic animation
// ==============================

// ==============================
// option 2
// use the css animation property to animate the hero container on page load
// ==============================

@keyframes animate-on-page-load {

    from {

        opacity   : 0;
        scale     : 0.99 1;
        translate : 0 8.0rem;

    }

    to {

        opacity   : 1;
        scale     : 1 1;
        translate : 0 0;

    }

} // end of animate-on-page-load

// ==============================
// fallback for non mobile devices
// ==============================

@keyframes animate-on-page-load-fallback-non-mobile {

    from {

        opacity   : 0;
        translate : 0 3.0rem;

    }

    to {

        opacity   : 1;
        translate : 0 0;

    }

} // end of animate-on-page-load-fallback-non-mobile

// ==============================
// fallback for mobile devices
// ==============================

@keyframes animate-on-page-load-fallback-mobile {

    from {

        opacity : 0;

    }

    to {

        opacity : 1;

    }

} // end of animate-on-page-load-fallback-mobile

// ==============================
// end of elastic animation
// ==============================


// ==============================
// keyframe 4
// =============================

// ==============================
// fade in animation
// ==============================

// ==============================
// purpose : fade in the hero container on page load, thereby giving the hero section time
// to set up
// ==============================

@keyframes fade-in {

    from {

        opacity : 0;

    }

    to {

        opacity : 1;

    }

} // end of fade-in


// ==============================
// keyframe 5
// =============================

// ==============================
// slide out animation
// ==============================

// ==============================
// purpose : slide the overlay div background color off the screen on page load or when
// navigating to the home page, thereby giving the hero section time to set up
// ==============================

@keyframes slide-out-on-page-load {

    from {

        opacity   : 1;
        scale     : 1 1;
        transform : translateX( 0% );

    }

    to {

        opacity   : 1;
        scale     : 1 1;
        transform : translateX( -100% ); // not why this is 50% and not 100%

    }

} // end of slide-out-on-page-load


// ==============================
// keyframe 6
// =============================

// ==============================
// fade out and slide out animation
// ==============================

// ==============================
// purpose : fade the overlay div background color off the screen on page load and
// when navigating to the home page, thereby giving the hero section time to set up
// ==============================

@keyframes fade-out-slide-out-home-page-nav {

    from {

        opacity   : 1;
        scale     : 1 1;
        transform : translateX( 0% );

    }

    to {

        opacity   : 0;
        scale     : 1 1;
        transform : translateX( -100% ); // not why this is 50% and not 100%

    }

} // end of fade-out-slide-out-home-page-nav

// ==============================
// end of keyframes
// ==============================












// ==============================
// hero video container
// ==============================

.heroVideoContainer {

    // parent
    grid-area   : div1; // needed in order for the parent container
    grid-column : 1 / -1; // needed in order to fill the parent container

    // children
    display               : grid;

    // ==============================
    // note 
    // ==============================

    // ==============================
    // 1 - in the content div use grid-column to position against the parent grid and until we
    // can use sub grid we may need to duplicate the parent grid and bring it down to the
    // content div where we can position against it
    // 2 - now our content div is sitting empty inside the parent grid we need to give the
    // content div a width and height so we can create the content box and
    // 3 - then set up a grid within the content box so that we can layout the content
    // inside the content box as needed and
    // 4 - the only cavet to 3 above, is that sometimes we need to go with a horizontal layout
    // and in those cases, flexbox may be the better choice than css grid
    // ==============================

    grid-template-columns : minmax( 8rem, 1fr )                          // col 1 - 2   ( column 1 )
                            repeat( 20, minmax( min-content, 12.0rem ) ) // col 2 - 22  ( column 2 - 22 )
                            minmax( 8rem, 1fr );                         // col 22 - 23 ( column 23 )

    // ==============================
    // remember, I can center the wrapper div by using either " justify-items : center; "
    // in the parent div ( see below ) or by using " margin : 0 auto; " in the
    // wrapper div
    // ==============================

    align-content       : center;
    justify-items       : center;

    // needed in order to center the content
    position : absolute;
    left     : 0;
    top      : 0;
    right    : 0;
    // bottom   : 0; // important!! ( see the notes below )

    z-index : 1;

    // ==============================
    // height
    // ==============================

    // ==============================
    // on larger screens, set the height of the hero container to 100vh or 100svh and this
    // will make the background image span the entire screen or viewport and only span the
    // viewport and we want this effect on larger screens
    // ==============================

    height : 100vh; // make sure to adjust the margin top for the next container

    // ==============================
    // background color
    // ==============================

    // these are 3 colors from the first video and will use one of them as my background
    // color and hopefully save a network request by eliminating 
    //background-image : url( /images/lama_bg_01.webp );
    // background-color : rgba( 1, 5, 60, 1 );
    background-color : rgba( 17, 11, 84, 1 );
    // background-color : rgba( 43, 40, 114, 1 );
    //background-color : rgba( 8, 13, 76, 1 );

    // ==============================
    // end of background color
    // ==============================

    // ==============================
    // @supports
    // ==============================

    // use @supports to test for " 100svh "

    // see the following article for details on @supports : 
    // " https://css-tricks.com/how-supports-works/ "
    @supports ( height : 100svh ) {

        height : 100svh; // remember, svh stands for smallest virewport height and unlike
        // 100vh, which causes the hero container to overflow into div2 on some mobiles
        // devices, 100svh takes into account any mobile bars, etc. and seems to work
        // pretty well

        // remember, 100svh and 100vh are the same on desktop since desktops don't have
        // any mobile bars, etc. to contend with

        // make sure to adjust the margin top for the next container

    } // end of container > @supports ( height : 100svh )

    // ==============================
    // end of @supports
    // ==============================

    // ==============================
    // remember, at bp-1376 and below we changed 100svh to 100rem or a fixed height and we
    // did this so that we could fix the hero section content jumping that was caused by
    // the disappearing address bar ( resulting in a terrible user experience) when scrolling
    // up and down on the hero section and the content jumping did not happen on Safari but
    // did happen on Chrome
    // ==============================

    // this is for the 2024 iPad Pro 13 inch with a viewport size of 1032 x 1376
    @media all and ( max-width : $bp-1376 ) {

        align-content : start; // visual preference

        height  : 100.0rem; // match the video height and make sure to adjust the margin top for
        // the next container
        // padding : 30.0rem 0 12.0rem 0; // add some spacing between the header and the content divs
        padding : 18.7rem 0 12.0rem 0; // add some spacing between the header and the content divs

    } // end of container > end of bp-1376

    // ==============================
    // end of height
    // ==============================

    // ==============================
    // tighten up side margins
    // ==============================

    @media all and ( max-width : $bp-1280 ) {

        grid-template-columns : minmax( 6rem, 1fr )                          // col 1 - 2   ( column 1 )
                                repeat( 20, minmax( min-content, 12.0rem ) ) // col 2 - 22  ( column 2 - 22 )
                                minmax( 6rem, 1fr );                         // col 22 - 23 ( column 23 )

        // remember, we are trying to match the most common height value by screen size according
        // StatCounter in the 1032 to 1280 range and in this range the height values become
        // smaller so in this case we want to make sure we have enough height for the 2024 iPad
        // Pro 11 or 834 * 1091
        height     : 83.4rem; // match the video height and make sure to adjust the margin top for
        // the next container
        min-height : 100vh;
        padding : 16.0rem 0 12.0rem 0; // add some spacing between the header and the content divs

    } // end of container > end of bp-1280

    // ==============================
    // end of tighten up side margins
    // ==============================

    // ==============================
    // height
    // ==============================

    // remember, we are trying to match the most common height values by screen size according
    // StatCounter and in this case we are looking at common screen sizes for tablets
    @media all and ( max-width : $bp-1032 ) {

        height : calc( 137.6rem * 1.1 ); // match the video height and make sure to adjust
        // the margin top for the next container

    } // end of container > end of bp-1032

    // remember, we are trying to match the most common height values by screen size according
    // StatCounter and in this case we are looking at common screen sizes for tablets
    @media all and ( max-width : $bp-920 ) {

        height : calc( 128.0rem * 1.1 ); // match the video height and make sure to adjust
        // the margin top for the next container

    } // end of container > end of bp-920

    // remember, we are trying to match the most common height values by screen size according
    // StatCounter and in this case we are looking at common screen sizes for tablets
    @media all and ( max-width : $bp-768 ) {

        height : calc( 102.4rem * 1.1 ); // match the video height and make sure to adjust
        // the margin top for the next container

    } // end of container > end of bp-620

    // remember, we are trying to match the most common height values by screen size according
    // StatCounter and in this case we are looking at common screen sizes for mobile devices
    // or more specially, make sure we have enough height for the latest iPhones or 440 x 956

    // 105.16rem works out to 956px on a mobile device
    @media all and ( max-width : $bp-620 ) {

        height : 105.16rem; // match the video height and make sure to adjust the margin top for
        // the next container

    } // end of container > bp-620

    // ==============================
    // remember, in this case, we keep the height at 105.16rem in order to prevent the content
    // from spilling over into the next div
    // ==============================

    // remember, we are trying to match the most common height values by screen size according
    // StatCounter and in this case we are looking at common screen sizes for mobile devices
    // or more specially, make sure we reduce the height for mobile devices at or below bp-375
    // and more specifically we want to target the viewport size of 375 * 812 since according
    // to StatCounter this screen size is the most popular screen size for any mobile phone on
    // the market in November 2024

    // 90.3rem works out to 812.7px on a mobile device
    @media all and ( max-width : $bp-375 ) {

        // height : 90.3rem; // match the video height and make sure to adjust the margin top for
        // the next container

    } // end of container > bp-375

    // ==============================
    // end of height
    // ==============================

    // ==============================
    // container > div 1
    // ==============================

    > div:nth-child( 1 ) {

        // parent
        grid-column : 1 / -1; // needed in order to fill the parent container

        position : absolute;
        left     : 0;
        top      : 0;
        right    : 0;
        // bottom   : 0;

        overflow : hidden; // hide the overflow when transitioning from one image to the another

        // ==============================
        // hero animation
        // ==============================

        // ==============================
        // fade in the video container on page load
        // ==============================

        opacity : 0; // needed in order for the animation to work

        animation-name            : fade-in;
        animation-duration        : 500ms;
        animation-timing-function : ease-out; // standard easing
        animation-delay           : 500ms; // visual preference
        animation-iteration-count : 1; // this is the default but leave here for reference purposes
        animation-fill-mode       : forwards;

        // ==============================
        // end of hero animation
        // ==============================

        // speed up the animation as we reduce the screen size
        @media all and ( max-width : $bp-620 ) {

            // ==============================
            // hero animation
            // ==============================

            // ==============================
            // fade in the video container on page load
            // ==============================

            opacity : 0; // needed in order for the animation to work

            animation-name            : fade-in;
            animation-duration        : 500ms;
            animation-timing-function : ease-out; // standard easing
            animation-delay           : 500ms; // visual preference
            animation-iteration-count : 1; // this is the default but leave here for reference purposes
            animation-fill-mode       : forwards;

            // ==============================
            // end of hero animation
            // ==============================

        } // end of container > div1 > bp-620

        // ==============================
        // container > div 1 > video
        // ==============================

        > video {

            // ==============================
            // remember, here we just need the video or poster image to fill the parent container
            // ==============================

            display : block; // this removed the extra spacing at the bottom
            width   : 100%; // needed for the video to fill the parent container
            height  : 100vh; // needed for the video to fill the parent container

            // ==============================
            // @supports
            // ==============================

            @supports ( height : 100svh ) {

                height : 100svh; // needed for the video to fill the parent container

            } // end of container > div1 > video > @supports ( height : 100svh )

            object-fit      : cover; // this will cause the video to cover the entire container
            object-position : center;

            // we need this for video
            position : absolute;
            left     : 0;
            top      : 0;
            right    : 0;
            // bottom   : 0;

            // starting values for the video transition
            opacity    : 0;
            transform  : scale( 1.1 ) translateX( -1.0rem ) rotate( -5deg );
            transition : all 500ms ease-in-out;

            // ==============================
            // height
            // ==============================

            // remember, we had to do this for video
            @media all and ( max-width : $bp-1376 ) {

                height : 100.0rem; // match the parent container height

            } // end of container > div1 > video > bp-1376

            // remember, we had to do this for video
            @media all and ( max-width : $bp-1280 ) {

                height     : 83.4rem; // match the parent container height
                min-height : 100vh;

            } // end of container > div1 > video > bp-1280

            @media all and ( max-width : $bp-1032 ) {
        
                height : calc( 137.6rem * 1.1 ); // match the parent container height
        
            } // end of container > div1 > video > bp-1032

            // remember, we had to do this for video
            @media all and ( max-width : $bp-920 ) {

                height : calc( 128.0rem * 1.1 ); // match the parent container height

            } // end of container > div1 > video > bp-920

            // remember, we had to do this for video
            @media all and ( max-width : $bp-768 ) {

                height : calc( 102.4rem * 1.1 ); // match the parent container height

            } // end of container > div1 > video > bp-768

            // remember, we had to do this for video
            @media all and ( max-width : $bp-620 ) {

                height : 105.16rem; // match the parent container height

            } // end of container > div1 > video > bp-620

            @media all and ( max-width : $bp-375 ) {

                // height : 90.3rem; // match the parent container height
        
            } // end of container > div1 > video > bp-375

            // ==============================
            // end of height
            // ==============================

            // ==============================
            // give the source a height to prevent page jumping
            // ==============================

            > source {

                display : block;
                height  : 100%; // give the source a specific height

            } // end of container > div1 > video > source

        } // end of container > div1 > video

        // ==============================
        // container > div1 > .active
        // ==============================

        > .active {

            position: relative;
            z-index : 1; // sit the active video on top
            
            // ending values for the video when it has the active class
            opacity   : 1;
            transform : scale( 1 ) translateX( 0 ) rotate( 0 );

        } // end of container > div1 > .active

    } // end of container > div1

    // ==============================
    // container > div 1::after
    // ==============================

    // ==============================
    // purpose : place a blue overlay over the video by using ::after and
    // " position : absolute "
    // ==============================

    // instead of doing a separate div, we can use the pseudo element ::after to achieve
    // the same effect
    > div:nth-child( 1 )::after {

        content  : '';
        position : absolute;
        top      : 0;
        left     : 0;
        right    : 0;
        bottom   : 0;

        z-index : 1; // needed in order for the overlay to appear on top of the video

        background-color : var( --blue-800 ); // visual preference
        mix-blend-mode   : multiply; // needed in order to provide for a nice overlay effect for video
        opacity          : 0.75; // visual preference

    } // end of container > div1::after

    // ==============================
    // container > div 2 ( image div )
    // ==============================

    > div:nth-child( 2 ) {

        grid-column : 1 / -1; // needed in order to fill the parent container

        // needed in order for the content to fill the parent container
        position : absolute;
        left     : 0;
        top      : 0;
        right    : 0;
        // bottom   : 0; // important!! ( see the notes below )
    
        width    : 100vw;
        height   : 100vh;
        z-index  : 1;

        // ==============================
        // @supports
        // ==============================

        // use @supports to test for " 100svh "

        // see the following article for details on @supports : 
        // " https://css-tricks.com/how-supports-works/ "
        @supports ( height : 100svh ) {

            height : 100svh; // remember, svh stands for smallest virewport height and unlike
            // 100vh, which causes the hero container to overflow into div2 on some mobiles
            // devices, 100svh takes into account any mobile bars, etc. and seems to work
            // pretty well

            // remember, 100svh and 100vh are the same on desktop since desktops don't have
            // any mobile bars, etc. to contend with

            // make sure to adjust the margin top for the next container

        } // end of container > @supports ( height : 100svh )

        // ==============================
        // end of @supports
        // ==============================

        // ==============================
        // background color
        // ==============================

        // this the best color that match the first video and will use this as my background
        // color and hopefully save a network request by eliminating
        // background-image : url( /images/lama_bg_01.webp );
        // background-color : rgba( 17, 11, 84, 1 );

        background-size       : cover;
        background-blend-mode : multiply;
        background-color      : var( --blue-85-2 );

        // ==============================
        // end of background color
        // ==============================

        opacity : 0;

        // ==============================
        // fallback jpeg image
        // ==============================

        background-image : url( /images/mj_abstract_16_2560.jpg );
        // background-position   : center; // in this case, it looked better not having
        // " background-position : center "

        @media all and ( max-width : $bp-1376 ) {
            
            background-image    : url( /images/mj_abstract_16_1376.jpg );

        } // end of container > div2 > bp-1376

        @media all and ( max-width : $bp-480 ) {

            // this is an cropped image
            background-image    : url( /images/mj_abstract_16_480.jpg );

        } // end of container > div2 > bp-480

        // ==============================
        // end of fallback jpeg image
        // ==============================

        // ==============================
        // webp image
        // ==============================

        // this code comes from the article :
        // " https://www.js-craft.io/blog/css-fallbacks-for-webp-background-images-with-supports/ "
        @supports ( background-image : url( /images/mj_abstract_16_2560.webp ) ) {

            background-image : url( /images/mj_abstract_16_2560.webp );
            //background-image : url( /images/mj_window_01.png );
            //background-image : url( /images/mj_med_spa_03.png );
            //background-image : url( /images/mj_med_spa_04.png );
        
            @media all and ( max-width : $bp-1376 ) {
        
                background-image    : url( /images/mj_abstract_16_1376.webp );

            } // end of bp-1376
            
            @media all and ( max-width : $bp-480 ) {

                // this is an cropped image
                background-image    : url( /images/mj_abstract_16_480_03.webp );

            } // end of bp-480

        } // end of container > div2 > @supports

        // ==============================
        // end of webp image
        // ==============================

        // ==============================
        // height
        // ==============================

        // ==============================
        // remember, at bp-1376 and below we changed 100svh to 100rem or a fixed height and we
        // did this so that we could fix the hero section content jumping that was caused by
        // the disappearing address bar ( resulting in a terrible user experience) when scrolling
        // up and down on the hero section and the content jumping did not happen on Safari but
        // did happen on Chrome
        // ==============================

        // this is for the 2024 iPad Pro 13 inch with a viewport size of 1032 x 1376
        @media all and ( max-width : $bp-1376 ) {

            height  : 100.0rem; // match the video height and make sure to adjust the margin top for
            // the next container

        } // end of container > div2 > bp-1376

        @media all and ( max-width : $bp-1280 ) {

            // remember, we are trying to match the most common height value by screen size according
            // StatCounter in the 1032 to 1280 range and in this range the height values become
            // smaller so in this case we want to make sure we have enough height for the 2024 iPad
            // Pro 11 or 834 * 1091
            height     : 83.4rem; // match the video height and make sure to adjust the margin top for
            // the next container
            min-height : 100vh;

        } // end of container > div2 > bp-1280

        // remember, we are trying to match the most common height values by screen size according
        // StatCounter and in this case we are looking at common screen sizes for tablets
        @media all and ( max-width : $bp-1032 ) {

            height : calc( 137.6rem * 1.1 ); // match the video height and make sure to adjust
            // the margin top for the next container

        } // end of container > div2 > bp-1032

        // remember, we are trying to match the most common height values by screen size according
        // StatCounter and in this case we are looking at common screen sizes for tablets
        @media all and ( max-width : $bp-920 ) {

            height : calc( 128.0rem * 1.1 ); // match the video height and make sure to adjust
            // the margin top for the next container

        } // end of container > div2 > bp-920

        // remember, we are trying to match the most common height values by screen size according
        // StatCounter and in this case we are looking at common screen sizes for tablets
        @media all and ( max-width : $bp-768 ) {

            height : calc( 102.4rem * 1.1 ); // match the video height and make sure to adjust
            // the margin top for the next container

        } // end of container > div2 > bp-620

        // remember, we are trying to match the most common height values by screen size according
        // StatCounter and in this case we are looking at common screen sizes for mobile devices
        // or more specially, make sure we have enough height for the latest iPhones or 440 x 956

        // 105.16rem works out to 956px on a mobile device
        @media all and ( max-width : $bp-620 ) {

            height : 105.16rem; // match the video height and make sure to adjust the margin top for
            // the next container

        } // end of container > div2 > bp-620

        // ==============================
        // remember, in this case, we keep the height at 105.16rem in order to prevent the content
        // from spilling over into the next div
        // ==============================

        // remember, we are trying to match the most common height values by screen size according
        // StatCounter and in this case we are looking at common screen sizes for mobile devices
        // or more specially, make sure we reduce the height for mobile devices at or below bp-375
        // and more specifically we want to target the viewport size of 375 * 812 since according
        // to StatCounter this screen size is the most popular screen size for any mobile phone on
        // the market in November 2024

        // 90.3rem works out to 812.7px on a mobile device
        @media all and ( max-width : $bp-375 ) {

            // height : 90.3rem; // match the video height and make sure to adjust the margin top for
            // the next container

        } // end of container > div2 > bp-375

        // ==============================
        // end of height
        // ==============================

    } // end of container > div2

    // ==============================
    // container > div 3
    // ==============================

    // ==============================
    // content div
    // ==============================

    > div:nth-child( 3 ) {

        // parent
        grid-column : 2 / 22; // position against the parent

        // children
        display               : grid;
        grid-template-rows    : repeat( 2, auto );
        grid-template-columns : 1fr;
        align-items           : center;
        justify-items         : center;
        gap                   : 4.0rem 0;
        grid-template-areas   : "h1"
                                "h5";

        width   : min( 105.0rem, 100% ); // browser will select the smaller of 105.0rem or 100%
        z-index : 1; // needed in order to appear on top

        // ==============================
        // IMPORTANT!
        //
        // if using gsap, make sure the first video content div's opcity is set to 0 so
        // that the h1 and h5 elements do not suddenly appear and then disappear right
        // before the gsap animation
        // ==============================
        opacity : 0;

        @media all and ( max-width : $bp-1440 ) {

            width : min( 90.0rem, 100% ); // browser will select the smaller of 90.0rem or 100%
    
        } // end of container > div3 > bp-1440

        @media all and ( max-width : $bp-1376 ) {

            padding : 12.0rem 0 0 0; // provide some more spacing between the content and
            // the header

        } // end of container > div3 > bp-1376

        @media all and ( max-width : $bp-1032 ) {

            padding : 14.8rem 0 0 0; // provide some more spacing between the content and
            // the header
    
        } // end of container > div3 > bp-1032

        @media all and ( max-width : $bp-480 ) {

            padding : 12.2rem 0 0 0;

        } // end of container > div3 > bp-480

        @media all and ( max-width : $bp-375 ) {

            padding : 10.7rem 0 0 0;

        } // end of container > div3 > bp-375

        // ==============================
        // container > div 2 ( wrapper div ) > h1
        // ==============================

        > h1 {

            // parent
            grid-area : h1;

            @include h1-light-hero;

            // ==============================
            // will-change
            // use either will-change or translateZ( 0 ) to " promote elements that you plan to
            // animate "
            // see the following article for details :
            // " https://web.dev/articles/stick-to-compositor-only-properties-and-manage-layer-count " 
            // ==============================

            will-change : opacity, transform;

            // ==============================
            // end of will-change
            // ==============================

            // ==============================
            // IMPORTANT!
            //
            // remember, we had to set the opacity to 0.1 or 0.001 in order for the
            // lcp to work in lighthouse
            //
            // this h1 was evidentially the lcp according to lighthouse
            //
            // see the following article for details :
            // https://renaissance-design.net/2024/fixing-the-no_lcp-error-in-lighthouse/#ghost 
            // ==============================
/*
            // needed for the start of the animation
            opacity : 0.001; // needed so lcp works in lighthouse

            // ==============================
            // fallback animation
            // ==============================

            // ==============================
            // option 1
            // use the css animation property to animate the hero container on page load
            // ==============================

            // ==============================
            // remember, older versions of Chrome and Safari do not support the linear function
            // so we need a fallback
            // ==============================

            // ==============================
            // fallback animation - non mobile
            // ==============================

            animation-name            : animate-on-page-load-fallback-non-mobile;
            animation-duration        : 600ms;
            animation-timing-function : ease-in-out; // standard easing
            animation-delay           : 300ms;
            animation-iteration-count : 1; // this is the default but leave here for reference purposes
            animation-fill-mode       : forwards;

            // ==============================
            // end of fallback animation - non mobile
            // ==============================

            // ==============================
            // fallback animation - mobile
            // ==============================

            // ==============================
            // for fallback on mobile devices, just fade in the elements since
            // " transform : translateY( ); " results in a janky user experience
            // on mobile devices
            // ==============================

            @media all and ( max-width : $bp-480 ) {

                animation-name            : animate-on-page-load-fallback-mobile;
                animation-duration        : 1000ms;
                animation-timing-function : ease-out; // standard easing
                animation-delay           : 300ms;
                animation-iteration-count : 1; // this is the default but leave here for reference purposes
                animation-fill-mode       : forwards;

            } // end of container > div3 > h1 > bp-480

            // ==============================
            // end of fallback animation - mobile
            // ==============================

            // ==============================
            // end of fallback animation
            // ==============================

            // ==============================
            // elastic animation
            // ==============================

            // ==============================
            // option 2
            // use the css animation property to animate the hero container on page load
            // ==============================

            // ==============================
            // remember, I liked the spring animation too but as much as the elastic animation
            // but Safari does not do a good job with the spring easing interpolation
            // ==============================

            // ==============================
            // see Enchanted Ratings for an example of how to implement the spring animation
            // ==============================

            // ==============================
            // use @supports to target browsers that support the linear() easing function that
            // interpolates linearly between multiple points and if the browser does not support
            // this easing function then provide a fallback animation ( see above )
            // ==============================

            @supports ( animation-timing-function: linear(
                0, 0.009, 0.035 2.1%, 0.141, 0.281 6.7%, 0.723 12.9%, 0.938 16.7%, 1.017,
                1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%,
                1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%,
                0.997 69.8%, 1.003 76.9%, 1.004 83.8%, 1
            ) ) {

                animation-name            : animate-on-page-load;
                animation-duration        : var( --elastic-duration );
                animation-timing-function : var( --elastic-easing );
                // animation-delay           : 500ms;
                animation-delay           : 1300ms; // visual preference
                animation-iteration-count : 1; // this is the default but leave here for reference purposes
                animation-fill-mode       : forwards;

                @media all and ( max-width : $bp-480 ) {

                    animation-delay : 1400ms; // visual preference
    
                } // end of container > div3 > h1 > @supports > bp-480

            } // end of container > div3 > h1 > @supports

            // ==============================
            // end of elastic animation
            // ==============================
*/
        } // end of container > div3 > h1

        // ==============================
        // container > div 3 > h5
        // ==============================

        > h5 {

            // parent
            grid-area : h5;

            @include h5-light;

            font-weight    : 650;
            letter-spacing : 0.2rem;
            text-align     : center;

            // ==============================
            // will-change
            // use either will-change or translateZ( 0 ) to " promote elements that you plan to
            // animate "
            // see the following article for details :
            // " https://web.dev/articles/stick-to-compositor-only-properties-and-manage-layer-count " 
            // ==============================

            will-change : opacity, transform;

            // ==============================
            // end of will-change
            // ==============================

/*
            // needed for the start of the animation
            opacity : 0;

            // ==============================
            // fallback animation
            // ==============================

            // ==============================
            // option 1
            // use the css animation property to animate the hero container on page load
            // ==============================

            // ==============================
            // remember, older versions of Chrome and Safari do not support the linear function
            // so we need a fallback
            // ==============================

            // ==============================
            // fallback animation - non mobile
            // ==============================

            animation-name            : animate-on-page-load-fallback-non-mobile;
            animation-duration        : 600ms;
            animation-timing-function : ease-out; // standard easing
            animation-delay           : 500ms;
            animation-iteration-count : 1; // this is the default but leave here for reference purposes
            animation-fill-mode       : forwards;

            // ==============================
            // end of fallback animation - non mobile
            // ==============================

            // ==============================
            // fallback animation - mobile
            // ==============================

            // ==============================
            // for fallback on mobile devices, just fade in the elements since
            // " transform : translateY( ); " results in a janky user experience
            // on mobile devices
            // ==============================

            @media all and ( max-width : $bp-480 ) {

                animation-name            : animate-on-page-load-fallback-mobile;
                animation-duration        : 1000ms;
                animation-timing-function : ease-out; // standard easing
                animation-delay           : 500ms;
                animation-iteration-count : 1; // this is the default but leave here for reference purposes
                animation-fill-mode       : forwards;

            } // end of container > div2 > h5 > bp-480

            // ==============================
            // end of fallback animation - mobile
            // ==============================

            // ==============================
            // end of fallback animation
            // ==============================

            // ==============================
            // elastic animation
            // ==============================

            // ==============================
            // option 2
            // use the css animation property to animate the hero container on page load
            // ==============================

            // ==============================
            // remember, I liked the spring animation too but as much as the elastic animation
            // but Safari does not do a good job with the spring easing interpolation
            // ==============================

            // ==============================
            // see Enchanted Ratings for an example of how to implement the spring animation
            // ==============================

            // ==============================
            // use @supports to target browsers that support the linear() easing function that
            // interpolates linearly between multiple points and if the browser does not support
            // this easing function then provide a fallback animation ( see above )
            // ==============================

            @supports ( animation-timing-function: linear(
                0, 0.009, 0.035 2.1%, 0.141, 0.281 6.7%, 0.723 12.9%, 0.938 16.7%, 1.017,
                1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%,
                1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%,
                0.997 69.8%, 1.003 76.9%, 1.004 83.8%, 1
            ) ) {

                animation-name            : animate-on-page-load;
                animation-duration        : var( --elastic-duration );
                animation-timing-function : var( --elastic-easing );
                // animation-delay           : 700ms;
                animation-delay           : 1500ms; // visual preference
                animation-iteration-count : 1; // this is the default but leave here for reference purposes
                animation-fill-mode       : forwards;

                @media all and ( max-width : $bp-480 ) {

                    animation-delay : 1600ms; // visual preference
    
                } // end of container > div3 > h4 > @supports > bp-480

            } // end of container > div3 > h4 > @supports

            // ==============================
            // end of elastic animation
            // ==============================

            @media all and ( max-width : $bp-375 ) {

                font-size : 21.0px; // match the reduction in the hero h1 font size
                // ( remember, this is not an exact match reduction )
        
            } // end of container > div3 > h5 > bp-375
*/
        } // end of container > div3 > h5

    }  // end of container > div3

    // ==============================
    // container > div 4
    // ==============================

    // ==============================
    // content div
    // ==============================

    > div:nth-child( 4 ) {

        // parent
        grid-column : 2 / 22; // position against the parent

        // children
        display               : none; // we initially need to hide div3
        grid-template-rows    : repeat( 2, auto );
        grid-template-columns : 1fr;
        align-items           : center;
        justify-items         : center;
        gap                   : 4.0rem 0;
        grid-template-areas   : "h2"
                                "h5";

        z-index : 1; // needed in order to appear on top
        width   : min( 100.0rem, 100% ); // browser will select the smaller of 100.0rem or 100%

        // ==============================
        // IMPORTANT!
        //
        // if using gsap, make sure the second video content div's opcity is set to 0 so
        // that the h2 and h5 elements do not suddenly appear and then disappear right
        // before the gsap animation
        // ==============================
        opacity : 0;

        @media all and ( max-width : $bp-1440 ) {

            width : min( 90.0rem, 100% ); // browser will select the smaller of 90.0rem or 100%
    
        } // end of container > div4 > bp-1440

        @media all and ( max-width : $bp-1376 ) {

            padding : 12.0rem 0 0 0; // provide some more spacing between the content and
            // the header

        } // end of container > div4 > bp-1376

        @media all and ( max-width : $bp-1032 ) {

            padding : 14.8rem 0 0 0; // provide some more spacing between the content and
            // the header
    
        } // end of container > div4 > bp-1032

        @media all and ( max-width : $bp-480 ) {

            padding : 12.2rem 0 0 0;

        } // end of container > div4 > bp-480

        @media all and ( max-width : $bp-375 ) {

            padding : 10.7rem 0 0 0;

        } // end of container > div4 > bp-375

        // ==============================
        // container > div 3 ( wrapper div ) > h2
        // ==============================

        > h2 {

            // parent
            grid-area : h2;

            // remember, we changed the h1 to h2 so that we only have one h1 per page but
            // we keep the styling the same
            @include h1-light-hero;

            // font-weight: 400;
            // font-variation-settings: 'wght' 800;
            //font-optical-sizing: auto;
            //font-stretch: 25% 151%;
            //font-variation-settings: "wght" 800, "wdth" 100, "slnt" 0, "opsz" 14, "GRAD" 0;

            // ==============================
            // will-change
            // use either will-change or translateZ( 0 ) to " promote elements that you plan to
            // animate "
            // see the following article for details :
            // " https://web.dev/articles/stick-to-compositor-only-properties-and-manage-layer-count " 
            // ==============================

            will-change : opacity, transform;

            // ==============================
            // end of will-change
            // ==============================

/*
            // needed for the start of the animation
            opacity : 0;

            // ==============================
            // fallback animation
            // ==============================

            // ==============================
            // option 1
            // use the css animation property to animate the hero container on page load
            // ==============================

            // ==============================
            // remember, older versions of Chrome and Safari do not support the linear function
            // so we need a fallback
            // ==============================

            // ==============================
            // fallback animation - non mobile
            // ==============================

            animation-name            : animate-on-page-load-fallback-non-mobile;
            animation-duration        : 600ms;
            animation-timing-function : ease-in-out; // standard easing
            animation-delay           : 300ms;
            animation-iteration-count : 1; // this is the default but leave here for reference purposes
            animation-fill-mode       : forwards;

            // ==============================
            // end of fallback animation - non mobile
            // ==============================

            // ==============================
            // fallback animation - mobile
            // ==============================

            // ==============================
            // for fallback on mobile devices, just fade in the elements since
            // " transform : translateY( ); " results in a janky user experience
            // on mobile devices
            // ==============================

            @media all and ( max-width : $bp-480 ) {

                animation-name            : animate-on-page-load-fallback-mobile;
                animation-duration        : 1000ms;
                animation-timing-function : ease-out; // standard easing
                animation-delay           : 300ms;
                animation-iteration-count : 1; // this is the default but leave here for reference purposes
                animation-fill-mode       : forwards;

            } // end of container > div4 > h2 > bp-480

            // ==============================
            // end of fallback animation - mobile
            // ==============================

            // ==============================
            // end of fallback animation
            // ==============================

            // ==============================
            // elastic animation
            // ==============================

            // ==============================
            // option 2
            // use the css animation property to animate the hero container on page load
            // ==============================

            // ==============================
            // remember, I liked the spring animation too but as much as the elastic animation
            // but Safari does not do a good job with the spring easing interpolation
            // ==============================

            // ==============================
            // see Enchanted Ratings for an example of how to implement the spring animation
            // ==============================

            // ==============================
            // use @supports to target browsers that support the linear() easing function that
            // interpolates linearly between multiple points and if the browser does not support
            // this easing function then provide a fallback animation ( see above )
            // ==============================

            @supports ( animation-timing-function: linear(
                0, 0.009, 0.035 2.1%, 0.141, 0.281 6.7%, 0.723 12.9%, 0.938 16.7%, 1.017,
                1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%,
                1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%,
                0.997 69.8%, 1.003 76.9%, 1.004 83.8%, 1
            ) ) {

                animation-name            : animate-on-page-load;
                animation-duration        : var( --elastic-duration );
                animation-timing-function : var( --elastic-easing );
                animation-delay           : 500ms; // delay this animation 500ms after video load
                animation-iteration-count : 1; // this is the default but leave here for reference purposes
                animation-fill-mode       : forwards;

            } // end of @supports

            // ==============================
            // end of elastic animation
            // ==============================
*/
        } // end of container > div4 > h2

        // ==============================
        // container > div 3 ( wrapper div ) > h5
        // ==============================

        > h5 {

            // parent
            grid-area : h5;

            @include h5-light;

            font-weight    : 650;
            letter-spacing : 0.2rem;
            text-align     : center;

            // ==============================
            // will-change
            // use either will-change or translateZ( 0 ) to " promote elements that you plan to
            // animate "
            // see the following article for details :
            // " https://web.dev/articles/stick-to-compositor-only-properties-and-manage-layer-count " 
            // ==============================

            will-change : opacity, transform;

            // ==============================
            // end of will-change
            // ==============================

/*
            // needed for the start of the animation
            opacity : 0;

            // ==============================
            // fallback animation
            // ==============================

            // ==============================
            // option 1
            // use the css animation property to animate the hero container on page load
            // ==============================

            // ==============================
            // remember, older versions of Chrome and Safari do not support the linear function
            // so we need a fallback
            // ==============================

            // ==============================
            // fallback animation - non mobile
            // ==============================

            animation-name            : animate-on-page-load-fallback-non-mobile;
            animation-duration        : 600ms;
            animation-timing-function : ease-in-out; // standard easing
            animation-delay           : 500ms;
            animation-iteration-count : 1; // this is the default but leave here for reference purposes
            animation-fill-mode       : forwards;

            // ==============================
            // end of fallback animation - non mobile
            // ==============================

            // ==============================
            // fallback animation - mobile
            // ==============================

            // ==============================
            // for fallback on mobile devices, just fade in the elements since
            // " transform : translateY( ); " results in a janky user experience
            // on mobile devices
            // ==============================

            @media all and ( max-width : $bp-480 ) {

                animation-name            : animate-on-page-load-fallback-mobile;
                animation-duration        : 1000ms;
                animation-timing-function : ease-out; // standard easing
                animation-delay           : 500ms;
                animation-iteration-count : 1; // this is the default but leave here for reference purposes
                animation-fill-mode       : forwards;

            } // end of container > div4 > h5 > bp-480

            // ==============================
            // end of fallback animation - mobile
            // ==============================

            // ==============================
            // end of fallback animation
            // ==============================

            // ==============================
            // elastic animation
            // ==============================

            // ==============================
            // option 2
            // use the css animation property to animate the hero container on page load
            // ==============================

            // ==============================
            // remember, I liked the spring animation too but as much as the elastic animation
            // but Safari does not do a good job with the spring easing interpolation
            // ==============================

            // ==============================
            // see Enchanted Ratings for an example of how to implement the spring animation
            // ==============================

            // ==============================
            // use @supports to target browsers that support the linear() easing function that
            // interpolates linearly between multiple points and if the browser does not support
            // this easing function then provide a fallback animation ( see above )
            // ==============================

            @supports ( animation-timing-function: linear(
                0, 0.009, 0.035 2.1%, 0.141, 0.281 6.7%, 0.723 12.9%, 0.938 16.7%, 1.017,
                1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%,
                1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%,
                0.997 69.8%, 1.003 76.9%, 1.004 83.8%, 1
            ) ) {

                animation-name            : animate-on-page-load;
                animation-duration        : var( --elastic-duration );
                animation-timing-function : var( --elastic-easing );
                animation-delay           : 700ms;
                animation-iteration-count : 1; // this is the default but leave here for reference purposes
                animation-fill-mode       : forwards;

            } // end of @supports

            // ==============================
            // end of elastic animation
            // ==============================

            @media all and ( max-width : $bp-375 ) {

                font-size : 21.0px; // match the reduction in the hero h1 font size
                // ( remember, this is not an exact match reduction )
        
            } // end of container > div4 > h5 > bp-375
*/
        } // end of container > div4 > h5

    } // end of container > div4

} // end of container

