

// ==============================
// partial imports / style imports
// ==============================

@use '../../../styles/_mixins.scss' as *;
@use '../../../styles/_responsive_breakpoints.scss' as *;







// ==============================
// keyframes 1
// ==============================

// ==============================
// infinite scroll animation
// ==============================

// ==============================
// purpose : provide the animation for the infinite scroll
// ==============================

@keyframes infiniteScroll {

    0% {

        transform : translateX( 0% );

    }

    100% {

        transform : translateX( calc( -50% - 2.0rem ) );

    }

} // end of rotate








// ==============================
// infinite scroll container
// ==============================

.infiniteScrollContainer {

    // parent
    grid-area   : div4;
    grid-column : 1 / -1; // position against the parent

    // children
    display               : grid;

    // ==============================
    // note 
    // ==============================

    // ==============================
    // 1 - in the content div use grid-column to position against the parent grid and until we
    // can use sub grid we may need to duplicate the parent grid and bring it down to the
    // content div where we can position against it
    // 2 - now our content div is sitting empty inside the parent grid we need to give the
    // content div a width and height so we can create the content box and
    // 3 - then set up a grid within the content box so that we can layout the content
    // inside the content box as needed and
    // 4 - the only cavet to 3 above, is that sometimes we need to go with a horizontal layout
    // and in those cases, flexbox may be the better choice than css grid
    // ==============================

    grid-template-columns : minmax( 8rem, 1fr )                          // col 1 - 2   ( column 1 )
                            repeat( 20, minmax( min-content, 12.0rem ) ) // col 2 - 22  ( column 2 - 22 )
                            minmax( 8rem, 1fr );                         // col 22 - 23 ( column 23 )

    // ==============================
    // remember, I can center the wrapper div by using either " justify-items : center; "
    // in the parent div ( see below ) or by using " margin : 0 auto; " in the
    // wrapper div
    // ==============================

    padding : 12.0rem 0 12.0rem 0; // provide some spacing

    // ==============================
    // background
    // ==============================

    // background : var( --yellow-40 );
    background : var( --gray-872 );
    // background : var( --gray-850 );

    // ==============================
    // end of background
    // ==============================

    // ==============================
    // tighten up side margins
    // ==============================

    @media all and ( max-width : $bp-1280 ) {

        grid-template-columns : minmax( 6rem, 1fr )                          // col 1 - 2   ( column 1 )
                                repeat( 20, minmax( min-content, 12.0rem ) ) // col 2 - 22  ( column 2 - 22 )
                                minmax( 6rem, 1fr );                         // col 22 - 23 ( column 23 )

    } // end of container > bp-1280

    // ==============================
    // end of tighten up side margins
    // ==============================

    // ==============================
    // container > div 1 ( wrapper div )
    // ==============================

    // ==============================
    // content div
    // ==============================

    > div:nth-child( 1 ) {

        // parent
        grid-column : 2 / 22; // position against the parent and see notes in parent above

        display               : grid;
        grid-template-columns : 1fr;
        justify-items         : center;
        grid-template-areas   : "div1"
                                "div2";

        opacity : 0; // need for the intersection observer animation

        > div:nth-child( 1 ) {

            // parent
            grid-area : div1;
    
            display : grid;    
            width   : min( 80.0rem, 100% ); // needed in order to left justify the h2
    
            // ==============================
            // container > div 1 > h2
            // ==============================
    
            > h2 {
    
                @include h2-light-title;
    
                margin : 0 0 1.5rem 0;
    
            } // end of container > div 1 > div 1 > h2
    
        } // container > div 1 > div 1

        // ==============================
        // container > div 2
        // ==============================

        > div:nth-child( 2 ) {

            // parent
            grid-area : div2;

            // ==============================
            // old code - keep for reference purposes
            // ==============================

            // ==============================
            // IMPORTANT!
            //
            // margin-left : calc( 50% - 50vw ); obeyed my layout constraints; whereas,
            // transform : translateX( calc( 50% - 50vw ) ); would not so had to use
            // margin-left
            // ==============================

            // to have the list go across the entire viewport, we had to add " width : 100vw; "
            // and " margin-left : calc( 50% - 50vw ); "
            // width       : 100vw;
            // margin-left : calc( 50% - 50vw );

            // this calculates exactly how far left to move the element so its left edge lines
            // up with the left edge of the viewport — effectively breaking it out of the
            // parent container so that this div can span the full viewport width
            // transform : translateX( calc( 50% - 50vw ) );

            // ==============================
            // end of old code - keep for reference purposes
            // ==============================

            width       : 100%;
            overflow-x  : hidden; // prevents any horizontal overflow from affecting the
            // document width

            // apply the mask which gives both ends a fade out effect
            -webkit-mask : linear-gradient( 90deg, transparent, white 20%, white 80%, transparent );
            mask         : linear-gradient( 90deg, transparent, white 20%, white 80%, transparent );

            // ==============================
            // container > div 1 > div 2 > ul ( the list )
            // ==============================

            > ul {

                display  : flex;
                grid-gap : 0 4.0rem; // add some spacing between each list item
                width    : max-content; // this is breaking my layout so had to add overflow-x
                // on the parent element
                padding  : 2.0rem 0 0 0;

                list-style-type : none; // override the global stylesheet in this case
                // list-style-position: outside;

                // ==============================
                // infinite scroll animation
                // ==============================
                animation : infiniteScroll 35s linear infinite;

                // ==============================
                // will-change
                // use either will-change or translateZ( 0 ) to " promote elements that you plan to
                // animate "
                // see the following article for details :
                // " https://web.dev/articles/stick-to-compositor-only-properties-and-manage-layer-count " 
                // ==============================

                will-change : transform;

                // ==============================
                // end of will-change
                // ==============================

                > li {

                    @include text-base-light;

                    margin  : 0 0 0 0; // cancel default margin for text-base-light
                    padding : 2.0rem 4.0rem; // give some padding for box background effect

                    background-color: var( --gray-868-300 );
                    
                    white-space : nowrap; // add this to prevent individual items from wrapping
                    // into 2 lines

                } // end of container > div 1 > div 2 > ul > li

            } // end of container > div 1 > div 2 > ul

        } // end of container > div 1 > div 2

    } // end of container > div 1

} // container

