


// ==============================
// partial imports / style imports
// ==============================

@use '../../../styles/_mixins.scss' as *;
@use '../../../styles/_responsive_breakpoints.scss' as *;







// ==============================
// keyframes 1
// ==============================

// ==============================
// rotate the circle
// ==============================

// ==============================
// purpose : rotate the circle
// ==============================

@keyframes rotate-1 {

    from {

        transform : rotate( 0deg );

    } // end of from
  
    to {

        transform : rotate( 360deg );

    } // end of to
  
} // end of rotate-1










// ==============================
// get started container
// ==============================

.getStartedContainer {

    // parent
    grid-column : 1 / -1; // position against the parent

    // ==============================
    // note 
    // ==============================

    // ==============================
    // 1 - in the content div use grid-column to position against the parent grid and until we
    // can use sub grid we may need to duplicate the parent grid and bring it down to the
    // content div where we can position against it
    // 2 - now our content div is sitting empty inside the parent grid we need to give the
    // content div a width and height so we can create the content box and
    // 3 - then set up a grid within the content box so that we can layout the content
    // inside the content box as needed and
    // 4 - the only cavet to 3 above, is that sometimes we need to go with a horizontal layout
    // and in those cases, flexbox may be the better choice than css grid
    // ==============================

    display               : grid;
    grid-template-rows    : repeat( 2, auto );
    grid-template-columns : minmax( 8rem, 1fr )                          // col 1 - 2   ( column 1 )
                            repeat( 20, minmax( min-content, 12.0rem ) ) // col 2 - 22  ( column 2 - 22 )
                            minmax( 8rem, 1fr );                         // col 22 - 23 ( column 23 )

    // ==============================
    // remember, I can center the wrapper div by using either " justify-items : center; "
    // in the parent div ( see below ) or by using " margin : 0 auto; " in the
    // wrapper div
    // ==============================

    justify-items         : center;

    position : relative; // needed for wave shape
    padding  : 12.0rem 0 24.0rem 0; // add 24.0rem bottom padding since my image below can not
    // add a padding top of 12.0rem

    // ==============================
    // background
    // ==============================

    background : var( --blue-83 );
    background : var( --blue-84 );
    // background : var( --blue-85-2 );
    // background : var( --blue-85-2 );
    background : var( --gray-872 );
    // background : var( --yellow-20 );

    // ==============================
    // end of background
    // ==============================

    // ==============================
    // tighten up side margins
    // ==============================

    @media all and ( max-width : $bp-1280 ) {

        grid-template-columns : minmax( 6rem, 1fr )                          // col 1 - 2   ( column 1 )
                                repeat( 20, minmax( min-content, 12.0rem ) ) // col 2 - 22  ( column 2 - 22 )
                                minmax( 6rem, 1fr );                         // col 22 - 23 ( column 23 )

    } // end of container > bp-1280

    // ==============================
    // end of tighten up side margins
    // ==============================

    // ==============================
    // container > div 1 ( wrapper div )
    // ==============================

    // ==============================
    // content div
    // ==============================

    > div:nth-child( 1 ) {

        // parent
        grid-column : 2 / 22; // position against the parent and see notes in parent above

        // children
        display               : grid;
        grid-template-rows    : auto;
        grid-template-columns : 1fr;
        grid-gap              : 2.0rem 0;
        grid-template-areas   : "h2-1"
                                "p2"
                                "p3"
                                "p4"
                                "div5";

        // make this section sit above the animating gradient
        z-index : 1;
        width   : min( 192.0rem, 100% ); // browser will select the smaller of 192.0rem or 100%

        // opacity : 0; // needed for the opacity and slide up animation

        @media all and ( max-width : $bp-1536 ) {

            width   : min( 144.0rem, 100% ); // browser will select the smaller of 144.0rem or 100%

        } // end of container > div1 > bp-1536

        @media all and ( max-width : $bp-1280 ) {

            width   : min( 80.0rem, 100% ); // browser will select the smaller of 80.0rem or 100%

        } // end of container > div1 > bp-1280

        > h2 {

            // parent
            grid-area : h2-1;

            @include h2-light-title;

            opacity : 0; // needed for the opacity and slide up animation

            @media all and ( max-width : $bp-1536 ) {

                justify-self : left;
    
            } // end of container > div1 > h2 > bp-1536
    
        }  // end of container > div1 > h2

        > p:nth-child( 2 ) {

            // parent
            grid-area : p2;

            @include text-base-light;

            width : min( 80.0rem, 100% ); // browser will select the smaller of 80.0rem or 100%

            opacity : 0; // needed for the opacity and slide up animation

            @media all and ( max-width : $bp-1536 ) {

                justify-self : left;
    
            } // end of container > div1 > p2 > bp-1536
    
        }  // end of container > div1 > p2

        > p:nth-child( 3 ) {

            // parent
            grid-area : p3;

            @include text-base-light;

            width : min( 80.0rem, 100% ); // browser will select the smaller of 80.0rem or 100%

            opacity : 0; // needed for the opacity and slide up animation

            @media all and ( max-width : $bp-1536 ) {

                justify-self : left;
    
            } // end of container > div1 > p3 > bp-1536
    
        }  // end of container > div1 > p3

        > p:nth-child( 4 ) {

            // parent
            grid-area : p4;

            @include text-base-light;

            width  : min( 80.0rem, 100% ); // browser will select the smaller of 80.0rem or 100%
            margin : 0 0 2.0rem 0;

            opacity : 0; // needed for the opacity and slide up animation

            @media all and ( max-width : $bp-1536 ) {

                justify-self : left;
    
            } // end of container > div1 > p4 > bp-1536
    
        }  // end of container > div1 > p4

        // ==============================
        // container > div 1 ( wrapper div ) > div 5 ( wrapper div for steps )
        // ==============================

        > div:nth-child( 5 ) {

            // parent
            grid-area : div5;

            display               : grid;
            grid-template-rows    : repeat( 2 auto );
            grid-template-columns : 1fr 1fr 1fr;
            grid-gap              : 12.0rem 12.0rem;
            grid-template-areas   : "div1 div2 div3"
                                    "div4 div5 div6";

            @media all and ( max-width : $bp-1728 ) {

                grid-template-rows    : repeat( 3, auto );
                grid-template-columns : 1fr 1fr;
                grid-gap              : 12.0rem 12.0rem;
                grid-template-areas   : "div1 div2"
                                        "div3 div4"
                                        "div5 div6";
    
            } // end of container > div1 > div2 > bp-1728

            @media all and ( max-width : $bp-1280 ) {

                grid-template-rows    : repeat( 5, auto );
                grid-template-columns : 1fr;
                grid-gap              : 12.0rem 0;
                grid-template-areas   : "div1"
                                        "div2"
                                        "div3"
                                        "div4"
                                        "div5"
                                        "div6";
    
            } // end of container > div1 > div2 > bp-1280

            // ==============================
            // container > div 1 ( wrapper div ) > div 2 ( wrapper div for badges ) > div 1 ( step 1 )
            // ==============================

            > div:nth-child( 1 ) {

                // parent
                grid-area : div1;

                // children
                display               : grid;
                grid-template-rows    : auto auto 1fr;
                grid-template-columns : auto 1fr;
                align-items           : center;
                justify-items         : start;
                grid-gap              : 2.0rem 2.0rem;
                grid-template-areas   : "h3-1       h3-2"
                                        "p             p"
                                        "picture picture";

                margin : 0;
        
                // ==============================
                // create a card
                // ==============================

                padding : 6.0rem;

                border-radius : 6px;

                background : var( --yellow-120 );

                // ==============================
                // end of create a card
                // ==============================

                opacity: 0; // needed for the opacity and slide in animation

                @media all and ( max-width : $bp-1280 ) {

                    grid-template-rows    : auto auto 1fr;
                    grid-template-columns : auto 1fr;
                    align-items           : center;
                    justify-items         : start;
                    grid-gap              : 2.0rem 2.0rem;
                    grid-template-areas   : "h3-1       h3-2"
                                            "p             p"
                                            "picture picture";
        
                } // end of container > div1 > div2 > div1 > bp-1280

                @media all and ( max-width : $bp-375 ) {

                    grid-template-rows    : repeat( 4, auto );
                    grid-template-columns : 1fr;
                    align-items           : center;
                    justify-items         : start;
                    grid-gap              : 2.0rem 0;
                    grid-template-areas   : "h3-1"
                                            "h3-2"
                                            "p"
                                            "picture";

                }  // end of container > div1 > div2 > div1 > bp-375

                // ==============================
                // container > div 1 > div 2 > div 1 > h3-1
                // ==============================

                > h3:nth-child( 1 ) {

                    // parent
                    grid-area : h3-1;

                    @include h4-light-title;

                    padding : 1.0rem 2.0rem;

                    border-radius : 50%;

                    line-height : 1.3; // visual preference and needed for when the
                    // h1 splits into 2 lines

                    background : var( --gray-770 );

                } // end of container > div1 > div2 > div1 > h3-1

                // ==============================
                // container > div 1 > div 2 > div 1 > h3-2
                // ==============================

                > h3:nth-child( 2 ) {

                    // parent
                    grid-area : h3-2;

                    @include h4-dark-title;

                    line-height : 1.3; // visual preference and needed for when the
                    // h1 splits into 2 lines

                } // end of container > div1 > div2 > div1 > h3-2

                // ==============================
                // container > div 1 > div 2 > div 1 > p
                // ==============================

                > p:nth-child( 3 ) {

                    // parent
                    grid-area : p;

                    @include text-base-dark;

                } // end of container > div1 > div2 > div1 > p

                // ==============================
                // container > div 1 > div 2 > div 1 > picture
                // ==============================

                > picture {

                    // parent
                    grid-area : picture;

                    align-self   : end; 
                    justify-self : center;

                    > img {

                        display : block;

                        // this blends my Mid Journey pictures into the background color perfectly
                        // and makes white pixels completely transparent and keeps black pixels
                        // visible — works perfectly with black and white illustrations on
                        // colored backgrounds without needing to remove the background at all
                        mix-blend-mode : multiply;

                        border-radius : 6px;

                    } // end of container > div1 > div2 > div1 > picture > img

                } // end of container > div1 > div2 > div1 > picture

            } // end of container > div1 > div2 > div1

            // ==============================
            // container > div 1 ( wrapper div ) > div 2 ( wrapper div for badges ) > div 2 ( step 2 )
            // ==============================

            > div:nth-child( 2 ) {

                // parent
                grid-area : div2;

                // children
                display               : grid;
                grid-template-rows    : auto auto 1fr;
                grid-template-columns : auto 1fr;
                align-items           : center;
                justify-items         : start;
                grid-gap              : 2.0rem 2.0rem;
                grid-template-areas   : "h3-1       h3-2"
                                        "p             p"
                                        "picture picture";

                margin : 0;
        
                // ==============================
                // create a card
                // ==============================

                padding : 6.0rem;

                border-radius : 6px;

                background : var( --yellow-120 );

                // ==============================
                // end of create a card
                // ==============================

                opacity: 0; // needed for the opacity and slide in animation

                @media all and ( max-width : $bp-1280 ) {

                    grid-template-rows    : auto auto 1fr;
                    grid-template-columns : auto 1fr;
                    align-items           : center;
                    justify-items         : start;
                    grid-gap              : 2.0rem 2.0rem;
                    grid-template-areas   : "h3-1       h3-2"
                                            "p             p"
                                            "picture picture";
        
                } // end of container > div1 > div2 > div1 > bp-1280

                @media all and ( max-width : $bp-375 ) {

                    grid-template-rows    : repeat( 4, auto );
                    grid-template-columns : 1fr;
                    align-items           : center;
                    justify-items         : start;
                    grid-gap              : 2.0rem 0;
                    grid-template-areas   : "h3-1"
                                            "h3-2"
                                            "p"
                                            "picture";

                }  // end of container > div1 > div2 > div1 > bp-375

                // ==============================
                // container > div 1 > div 2 > div 1 > h3-1
                // ==============================

                > h3:nth-child( 1 ) {

                    // parent
                    grid-area : h3-1;

                    @include h4-light-title;

                    padding : 1.0rem 2.0rem;

                    border-radius : 50%;

                    line-height : 1.3; // visual preference and needed for when the
                    // h1 splits into 2 lines

                    background : var( --gray-770 );

                } // end of container > div1 > div2 > div1 > h3-1

                // ==============================
                // container > div 1 > div 2 > div 1 > h3-2
                // ==============================

                > h3:nth-child( 2 ) {

                    // parent
                    grid-area : h3-2;

                    @include h4-dark-title;

                    line-height : 1.3; // visual preference and needed for when the
                    // h1 splits into 2 lines

                } // end of container > div1 > div2 > div1 > h3-2

                // ==============================
                // container > div 1 > div 2 > div 1 > p
                // ==============================

                > p:nth-child( 3 ) {

                    // parent
                    grid-area : p;

                    @include text-base-dark;

                } // end of container > div1 > div2 > div1 > p

                // ==============================
                // container > div 1 > div 2 > div 1 > picture
                // ==============================

                > picture {

                    // parent
                    grid-area : picture;

                    align-self   : end; 
                    justify-self : center;

                    > img {

                        display : block;

                        // this blends my Mid Journey pictures into the background color perfectly
                        // and makes white pixels completely transparent and keeps black pixels
                        // visible — works perfectly with black and white illustrations on
                        // colored backgrounds without needing to remove the background at all
                        mix-blend-mode : multiply;

                        border-radius : 6px;

                    } // end of container > div1 > div2 > div1 > picture > img

                } // end of container > div1 > div2 > div1 > picture

            } // end of container > div1 > div2 > div2

            // ==============================
            // container > div 1 ( wrapper div ) > div 2 ( wrapper div for badges ) > div 3 ( step 3 )
            // ==============================

            > div:nth-child( 3 ) {

                // parent
                grid-area : div3;

                // children
                display               : grid;
                grid-template-rows    : auto auto 1fr;
                grid-template-columns : auto 1fr;
                align-items           : center;
                justify-items         : start;
                grid-gap              : 2.0rem 2.0rem;
                grid-template-areas   : "h3-1       h3-2"
                                        "p             p"
                                        "picture picture";

                margin : 0;
        
                // ==============================
                // create a card
                // ==============================

                padding : 6.0rem;

                border-radius : 6px;

                background : var( --yellow-120 );

                // ==============================
                // end of create a card
                // ==============================

                opacity: 0; // needed for the opacity and slide in animation

                @media all and ( max-width : $bp-1280 ) {

                    grid-template-rows    : auto auto 1fr;
                    grid-template-columns : auto 1fr;
                    align-items           : center;
                    justify-items         : start;
                    grid-gap              : 2.0rem 2.0rem;
                    grid-template-areas   : "h3-1       h3-2"
                                            "p             p"
                                            "picture picture";
        
                } // end of container > div1 > div2 > div1 > bp-1280

                @media all and ( max-width : $bp-375 ) {

                    grid-template-rows    : repeat( 4, auto );
                    grid-template-columns : 1fr;
                    align-items           : center;
                    justify-items         : start;
                    grid-gap              : 2.0rem 0;
                    grid-template-areas   : "h3-1"
                                            "h3-2"
                                            "p"
                                            "picture";

                }  // end of container > div1 > div2 > div1 > bp-375

                // ==============================
                // container > div 1 > div 2 > div 1 > h3-1
                // ==============================

                > h3:nth-child( 1 ) {

                    // parent
                    grid-area : h3-1;

                    @include h4-light-title;

                    padding : 1.0rem 2.0rem;

                    border-radius : 50%;

                    line-height : 1.3; // visual preference and needed for when the
                    // h1 splits into 2 lines

                    background : var( --gray-770 );

                } // end of container > div1 > div2 > div1 > h3-1

                // ==============================
                // container > div 1 > div 2 > div 1 > h3-2
                // ==============================

                > h3:nth-child( 2 ) {

                    // parent
                    grid-area : h3-2;

                    @include h4-dark-title;

                    line-height : 1.3; // visual preference and needed for when the
                    // h1 splits into 2 lines

                } // end of container > div1 > div2 > div1 > h3-2

                // ==============================
                // container > div 1 > div 2 > div 1 > p
                // ==============================

                > p:nth-child( 3 ) {

                    // parent
                    grid-area : p;

                    @include text-base-dark;

                } // end of container > div1 > div2 > div1 > p

                // ==============================
                // container > div 1 > div 2 > div 1 > picture
                // ==============================

                > picture {

                    // parent
                    grid-area : picture;

                    align-self   : end; 
                    justify-self : center;

                    > img {

                        display : block;

                        // this blends my Mid Journey pictures into the background color perfectly
                        // and makes white pixels completely transparent and keeps black pixels
                        // visible — works perfectly with black and white illustrations on
                        // colored backgrounds without needing to remove the background at all
                        mix-blend-mode : multiply;

                        border-radius : 6px;

                    } // end of container > div1 > div2 > div1 > picture > img

                } // end of container > div1 > div2 > div1 > picture

            } // end of container > div1 > div2 > div3

            // ==============================
            // container > div 1 ( wrapper div ) > div 2 ( wrapper div for badges ) > div 4 ( step 4 )
            // ==============================

            > div:nth-child( 4 ) {

                // parent
                grid-area : div4;

                // children
                display               : grid;
                grid-template-rows    : auto auto 1fr;
                grid-template-columns : auto 1fr;
                align-items           : center;
                justify-items         : start;
                grid-gap              : 2.0rem 2.0rem;
                grid-template-areas   : "h3-1       h3-2"
                                        "p             p"
                                        "picture picture";

                margin : 0;
        
                // ==============================
                // create a card
                // ==============================

                padding : 6.0rem;

                border-radius : 6px;

                background : var( --blue-61-1 );

                // ==============================
                // end of create a card
                // ==============================

                opacity: 0; // needed for the opacity and slide in animation

                @media all and ( max-width : $bp-1280 ) {

                    grid-template-rows    : auto auto 1fr;
                    grid-template-columns : auto 1fr;
                    align-items           : center;
                    justify-items         : start;
                    grid-gap              : 2.0rem 2.0rem;
                    grid-template-areas   : "h3-1       h3-2"
                                            "p             p"
                                            "picture picture";
        
                } // end of container > div1 > div2 > div1 > bp-1280

                @media all and ( max-width : $bp-375 ) {

                    grid-template-rows    : repeat( 4, auto );
                    grid-template-columns : 1fr;
                    align-items           : center;
                    justify-items         : start;
                    grid-gap              : 2.0rem 0;
                    grid-template-areas   : "h3-1"
                                            "h3-2"
                                            "p"
                                            "picture";

                }  // end of container > div1 > div2 > div1 > bp-375

                // ==============================
                // container > div 1 > div 2 > div 1 > h3-1
                // ==============================

                > h3:nth-child( 1 ) {

                    // parent
                    grid-area : h3-1;

                    @include h4-light-title;

                    padding : 1.0rem 2.0rem;

                    border-radius : 50%;

                    line-height : 1.3; // visual preference and needed for when the
                    // h1 splits into 2 lines

                    background : var( --gray-770 );

                } // end of container > div1 > div2 > div1 > h3-1

                // ==============================
                // container > div 1 > div 2 > div 1 > h3-2
                // ==============================

                > h3:nth-child( 2 ) {

                    // parent
                    grid-area : h3-2;

                    @include h4-dark-title;

                    line-height : 1.3; // visual preference and needed for when the
                    // h1 splits into 2 lines

                } // end of container > div1 > div2 > div1 > h3-2

                // ==============================
                // container > div 1 > div 2 > div 1 > p
                // ==============================

                > p:nth-child( 3 ) {

                    // parent
                    grid-area : p;

                    @include text-base-dark;

                } // end of container > div1 > div2 > div1 > p

                // ==============================
                // container > div 1 > div 2 > div 1 > picture
                // ==============================

                > picture {

                    // parent
                    grid-area : picture;

                    align-self   : end; 
                    justify-self : center;

                    > img {

                        display : block;

                        // this blends my Mid Journey pictures into the background color perfectly
                        // and makes white pixels completely transparent and keeps black pixels
                        // visible — works perfectly with black and white illustrations on
                        // colored backgrounds without needing to remove the background at all
                        mix-blend-mode : multiply;

                        border-radius : 6px;

                    } // end of container > div1 > div2 > div1 > picture > img

                } // end of container > div1 > div2 > div1 > picture

            } // end of container > div1 > div2 > div4

            // ==============================
            // container > div 1 ( wrapper div ) > div 2 ( wrapper div for badges ) > div 5 ( step 5 )
            // ==============================

            > div:nth-child( 5 ) {

                // parent
                grid-area : div5;

                // children
                display               : grid;
                grid-template-rows    : auto auto 1fr;
                grid-template-columns : auto 1fr;
                align-items           : center;
                justify-items         : start;
                grid-gap              : 2.0rem 2.0rem;
                grid-template-areas   : "h3-1       h3-2"
                                        "p             p"
                                        "picture picture";

                margin : 0;
        
                // ==============================
                // create a card
                // ==============================

                padding : 6.0rem;

                border-radius : 6px;

                background : var( --blue-61-1 );

                // ==============================
                // end of create a card
                // ==============================

                opacity: 0; // needed for the opacity and slide in animation

                @media all and ( max-width : $bp-1280 ) {

                    grid-template-rows    : auto auto 1fr;
                    grid-template-columns : auto 1fr;
                    align-items           : center;
                    justify-items         : start;
                    grid-gap              : 2.0rem 2.0rem;
                    grid-template-areas   : "h3-1       h3-2"
                                            "p             p"
                                            "picture picture";
        
                } // end of container > div1 > div2 > div1 > bp-1280

                @media all and ( max-width : $bp-375 ) {

                    grid-template-rows    : repeat( 4, auto );
                    grid-template-columns : 1fr;
                    align-items           : center;
                    justify-items         : start;
                    grid-gap              : 2.0rem 0;
                    grid-template-areas   : "h3-1"
                                            "h3-2"
                                            "p"
                                            "picture";

                }  // end of container > div1 > div2 > div1 > bp-375

                // ==============================
                // container > div 1 > div 2 > div 1 > h3-1
                // ==============================

                > h3:nth-child( 1 ) {

                    // parent
                    grid-area : h3-1;

                    @include h4-light-title;

                    padding : 1.0rem 2.0rem;

                    border-radius : 50%;

                    line-height : 1.3; // visual preference and needed for when the
                    // h1 splits into 2 lines

                    background : var( --gray-770 );

                } // end of container > div1 > div2 > div1 > h3-1

                // ==============================
                // container > div 1 > div 2 > div 1 > h3-2
                // ==============================

                > h3:nth-child( 2 ) {

                    // parent
                    grid-area : h3-2;

                    @include h4-dark-title;

                    line-height : 1.3; // visual preference and needed for when the
                    // h1 splits into 2 lines

                } // end of container > div1 > div2 > div1 > h3-2

                // ==============================
                // container > div 1 > div 2 > div 1 > p
                // ==============================

                > p:nth-child( 3 ) {

                    // parent
                    grid-area : p;

                    @include text-base-dark;

                } // end of container > div1 > div2 > div1 > p

                // ==============================
                // container > div 1 > div 2 > div 1 > picture
                // ==============================

                > picture {

                    // parent
                    grid-area : picture;

                    align-self   : end; 
                    justify-self : center;

                    > img {

                        display : block;

                        // this blends my Mid Journey pictures into the background color perfectly
                        // and makes white pixels completely transparent and keeps black pixels
                        // visible — works perfectly with black and white illustrations on
                        // colored backgrounds without needing to remove the background at all
                        mix-blend-mode : multiply;

                        border-radius : 6px;

                    } // end of container > div1 > div2 > div1 > picture > img

                } // end of container > div1 > div2 > div1 > picture

            } // end of container > div1 > div2 > div5

            // ==============================
            // container > div 1 ( wrapper div ) > div 2 ( wrapper div for badges ) > div 6 ( step 6 )
            // ==============================

            > div:nth-child( 6 ) {

                // parent
                grid-area : div6;

                // children
                display               : grid;
                grid-template-rows    : auto auto 1fr;
                grid-template-columns : auto 1fr;
                align-items           : center;
                justify-items         : start;
                grid-gap              : 2.0rem 2.0rem;
                grid-template-areas   : "h3-1       h3-2"
                                        "p             p"
                                        "picture picture";

                margin : 0;
        
                // ==============================
                // create a card
                // ==============================

                padding : 6.0rem;

                border-radius : 6px;
                background : var( --blue-61-1 );

                // ==============================
                // end of create a card
                // ==============================

                opacity: 0; // needed for the opacity and slide in animation

                @media all and ( max-width : $bp-1280 ) {

                    grid-template-rows    : auto auto 1fr;
                    grid-template-columns : auto 1fr;
                    align-items           : center;
                    justify-items         : start;
                    grid-gap              : 2.0rem 2.0rem;
                    grid-template-areas   : "h3-1       h3-2"
                                            "p             p"
                                            "picture picture";
        
                } // end of container > div1 > div2 > div1 > bp-1280

                @media all and ( max-width : $bp-375 ) {

                    grid-template-rows    : repeat( 4, auto );
                    grid-template-columns : 1fr;
                    align-items           : center;
                    justify-items         : start;
                    grid-gap              : 2.0rem 0;
                    grid-template-areas   : "h3-1"
                                            "h3-2"
                                            "p"
                                            "picture";

                }  // end of container > div1 > div2 > div1 > bp-375

                // ==============================
                // container > div 1 > div 2 > div 1 > h3-1
                // ==============================

                > h3:nth-child( 1 ) {

                    // parent
                    grid-area : h3-1;

                    @include h4-light-title;

                    padding : 1.0rem 2.0rem;

                    border-radius : 50%;

                    line-height : 1.3; // visual preference and needed for when the
                    // h1 splits into 2 lines

                    background : var( --gray-770 );

                } // end of container > div1 > div2 > div1 > h3-1

                // ==============================
                // container > div 1 > div 2 > div 1 > h3-2
                // ==============================

                > h3:nth-child( 2 ) {

                    // parent
                    grid-area : h3-2;

                    @include h4-dark-title;

                    line-height : 1.3; // visual preference and needed for when the
                    // h1 splits into 2 lines

                } // end of container > div1 > div2 > div1 > h3-2

                // ==============================
                // container > div 1 > div 2 > div 1 > p
                // ==============================

                > p:nth-child( 3 ) {

                    // parent
                    grid-area : p;

                    @include text-base-dark;

                } // end of container > div1 > div2 > div1 > p

                // ==============================
                // container > div 1 > div 2 > div 1 > picture
                // ==============================

                > picture {

                    // parent
                    grid-area : picture;

                    align-self   : end; 
                    justify-self : center;

                    > img {

                        display : block;

                        // this blends my Mid Journey pictures into the background color perfectly
                        // and makes white pixels completely transparent and keeps black pixels
                        // visible — works perfectly with black and white illustrations on
                        // colored backgrounds without needing to remove the background at all
                        mix-blend-mode : multiply;

                        border-radius : 6px;

                    } // end of container > div1 > div2 > div1 > picture > img

                } // end of container > div1 > div2 > div1 > picture

            } // end of container > div1 > div2 > div6

        } // end of container > div1 > div2

    } // end of container > div1

    // ==============================
    // container > div 2 ( schedule your project button )
    // ==============================

    > div:nth-child( 2 ) {

        // parent
        grid-column : 2 / 22; // position against the parent

        display       : grid;
        justify-items : center;

        z-index : 1; // make this section sit above the animating gradient
        width   : min( 192.0rem, 100% ); // browser will select the smaller of 192.0rem or 100%
        margin  : 12.0rem 0 0 0; // visual preference

        @media all and ( max-width : $bp-1536 ) {

            width   : min( 144.0rem, 100% ); // browser will select the smaller of 144.0rem or 100%

        } // end of container > div2 > bp-1536

        @media all and ( max-width : $bp-1280 ) {

            width   : min( 80.0rem, 100% ); // browser will select the smaller of 80.0rem or 100%

        } // end of container > div2 > bp-1280

        > a {

            @include button-v7;

            color : var( --black );

            background : var( --green-23-9 );
    
            transition : all 0.3s ease-out;

            @media all and ( max-width : $bp-1728 ) {

                // width : 100%;
    
            } // end of container > div2 > bp-1728

            // hover selector for the navigation tabs
            &:hover {

                background : var( --green-30 );

            } // end of container > div2 > &:hover

        } // end of container > div2 > a

    } // end of container > div2

    // ==============================
    // container > div 3 ( animating backgrounds )
    // ==============================

    > div:nth-child( 3 ) {

        display : block; // hide the blob and show the animating backgrounds
        z-index : 0; // remember, this container has to sit behind the parent container
        // which has a z-index of 1

        opacity : 1;

        @media all and ( max-width : $bp-1536 ) {

            //margin : 40.0rem 0 0 0;

        } // end of container > div3 > bp-1536

    } // end of container > div3

} // end of container

