


// ==============================
// partial imports / style imports
// ==============================

@use '../../../../../styles/_mixins.scss' as *;
@use '../../../../../styles/_responsive_breakpoints.scss' as *;





// ==============================
// product design 3d container
// ==============================

.productDesignContainer {

    // children
    display  : block;
    // in order to display the 3D component correctly, we needed to apply a width
    // of 100% and a height of 100%
    width    : 100%;
    height   : 100%;

    opacity    : 0;
    transition : opacity 1.5s ease-out;

    @media all and ( max-width : $bp-375 ) {

        width : 212px; // this needs to match the width of the instructional
        // text

    } // end of container > bp-375

} // end of container


