


// ==============================
// partial imports / style imports
// ==============================

@use '../../../../../../styles/_mixins.scss' as *;
@use '../../../../../../styles/_responsive_breakpoints.scss' as *;




// ==============================
// cube textures container
// ==============================

.cubeTexturesContainer {

    // parent
    grid-area   : div12;
    grid-column : 1 / -1; // needed in order to fill the parent container\

    // children
    display : grid;

    // ==============================
    // note 
    // ==============================

    // ==============================
    // remember, there are 2 things we want to accomplish :
    // 1 - allow the wrapper div to position against the parent div and thereby
    // shrink as needed
    // 2 - we want to center the wrapper div ( see below for details )
    // ==============================

    // ==============================
    // " grid-template-columns " is needed so that the wrapper div ( i.e. child ) can position
    // against the parent ( i.e. this div ) by using " grid-column : 2 / 22; " and this allows
    // the background declared below to span across the entire container or the entire site and
    // this also allows the wrapper div to dynamically contain its children within the
    // " grid-column : 2 / 22; " context so that as the screen size shrinks the wrapper div
    // container and all its children containers or divs will automatically shrink as well
    // ==============================

    grid-template-columns : minmax( 8rem, 1fr )                          // col 1 - 2   ( column 1 )
                            repeat( 20, minmax( min-content, 12.0rem ) ) // col 2 - 22  ( column 2 - 22 )
                            minmax( 8rem, 1fr );                         // col 22 - 23 ( column 23 )

    // ==============================
    // remember, I can center the wrapper div by using either " justify-items : center; "
    // in the parent div ( see below ) or by using " margin : 0 auto; " in the
    // wrapper div
    // ==============================

    // justify-items : center; // this is needed to center the h1 element and the sphere
    // on smaller screens

    padding : 12.0rem 0 12.0rem 0; // add some spacing to the top and bottom

    background-size  : cover;
    // background-image : var( --background-lg-34 );

    background       : var( --background-lg-42-1 );
    background-image : var( --background-lg-42-9 );

    // ==============================
    // tighten up side margins
    // ==============================

    @media all and ( max-width : $bp-1280 ) {

        grid-template-columns : minmax( 6rem, 1fr )                          // col 1 - 2   ( column 1 )
                                repeat( 20, minmax( min-content, 12.0rem ) ) // col 2 - 22  ( column 2 - 22 )
                                minmax( 6rem, 1fr );                         // col 22 - 23 ( column 23 )

    } // end of container > bp-1280

    // ==============================
    // end of tighten up side margins
    // ==============================

    // ==============================
    // container > div 1 ( wrapper div )
    // ==============================

    > div:nth-child( 1 ) {

        // parent
        grid-column : 1 / -1; // position against the parent and remember, in
        // threejs this is needed to center the canvas

        // ==============================
        // container > div 1 ( wrapper div ) > div 1
        // ==============================

        > div:nth-child( 1 ) {

            display       : grid; // this is needed to center the canvas
            justify-items : center; // this is needed to center the canvas

/*
            width  : 800px; // need to give the canvas container a specified width
            height : 800px; // need to give the canvas container a specified width

            @media all and ( max-width : $bp-1032 ) {
                
                width  : 600px;
                height : 600px;
    
            } // end of container > div1 > div1 > bp-1032

            @media all and ( max-width : $bp-620 ) {
                
                width  : 400px;
                height : 400px;
    
            } // end of container > div1 > div1 > bp-620
    
            @media all and ( max-width : 400px ) {
    
                width  : 375px;
                height : 375px;
    
            } // end of container > div1 > div1 > bp-400
    
            @media all and ( max-width : $bp-375 ) {
    
                width  : 280px;
                height : 280px;
    
            } // end of container > div1 > div1 > bp-375
*/

            // ==============================
            // container > div 1 ( wrapper div ) > div 1 > canvas
            // ==============================
/*
            > canvas {


            } // end of container > div1 > div1 > canvas
*/

        } // end of container > div1 > div1

    } // end of container > div1

} // end of container


