


// ==============================
// partial imports / style imports
// ==============================

@use '../../../../../../styles/_mixins.scss' as *;
@use '../../../../../../styles/_responsive_breakpoints.scss' as *;





// ==============================
// sphere mesh distrort background container
// ==============================

.sphereMeshDistrortBackgroundContainer {

    width  : 99%;
    height : 99%;

    // ==============================
    // container > div ( 3d sphere )
    // ==============================

    > div {

        width  : 100%;
        height : 100%;

    } // container > div1

} // end of container


